openapi: 3.2.0
info:
  title: Google Gmail Pop API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Pop
  description: Operations related to Pop
paths:
  /gmail/v1/users/{userId}/settings/pop:
    put:
      tags:
      - Pop
      summary: Google Update POP Settings
      description: Updates POP settings.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsPopPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsPopPutResponse'
              examples:
                UsersSettingsPopPutResponseExample:
                  $ref: '#/components/examples/UsersSettingsPopPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsPopPutResponseExample
components:
  examples:
    UsersSettingsPopPutResponseExample:
      summary: Successful 200 response
      value:
        accessWindow: fromNowOn
        disposition: dispositionUnspecified
  schemas:
    UsersSettingsPopPutResponse:
      description: UsersSettingsPopPutResponse schema
      type: object
      properties:
        accessWindow:
          type: string
        disposition:
          type: string
    UsersSettingsPopPutRequest:
      description: UsersSettingsPopPutRequest schema
      type: object
      example:
        accessWindow: fromNowOn
        disposition: dispositionUnspecified
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
