openapi: 3.1.0
info:
  title: Google Books About Enables API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Enables
  description: Operations related to Enables
paths:
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable:
    post:
      tags:
      - Enables
      summary: Google Enable CSE Keypairs
      description: Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: keyPairId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseKeypairsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseKeypairsPostResponse'
              examples:
                SettingsCseKeypairsPostResponseExample:
                  $ref: '#/components/examples/SettingsCseKeypairsPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SettingsCseKeypairsPostResponseExample
components:
  schemas:
    SettingsCseKeypairsPostRequest:
      description: SettingsCseKeypairsPostRequest schema
      type: object
      example: {}
    SettingsCseKeypairsPostResponse:
      description: SettingsCseKeypairsPostResponse schema
      type: object
      properties:
        keyPairId:
          type: string
        pkcs7:
          type: string
        pem:
          type: string
        subjectEmailAddresses:
          type: array
          items:
            type: string
        enablementState:
          type: string
        disableTime:
          type: string
        privateKeyMetadata:
          type: array
          items:
            type: object
            properties:
              privateKeyMetadataId:
                type: string
              kaclsKeyMetadata:
                type: object
                properties:
                  kaclsUri:
                    type: string
                  kaclsData:
                    type: string
              hardwareKeyMetadata:
                type: object
                properties:
                  description:
                    type: string
  examples:
    SettingsCseKeypairsPostResponseExample:
      summary: Successful 200 response
      value:
        keyPairId: Lorem eiusmod
        pkcs7: ex incididunt
        pem: irure quis
        subjectEmailAddresses:
        - Excepteur Ut commodo aliquip
        - eu Lorem nulla
        enablementState: disabled
        disableTime: cill
        privateKeyMetadata:
        - privateKeyMetadataId: proident fugiat eu dolore
          kaclsKeyMetadata:
            kaclsUri: voluptate ipsum ad
            kaclsData: Duis laborum aute
          hardwareKeyMetadata:
            description: mollit la
        - privateKeyMetadataId: nulla ullamco
          kaclsKeyMetadata:
            kaclsUri: minim in
            kaclsData: sint eiusmod
          hardwareKeyMetadata:
            description: ut
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
