openapi: 3.1.0
info:
  title: Google Books About Attachments API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Attachments
  description: Operations related to Attachments
paths:
  /gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}:
    get:
      tags:
      - Attachments
      summary: Google Get Attachments
      description: Gets the specified message attachment.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: messageId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesAttachmentsGetResponse'
              examples:
                UsersMessagesAttachmentsGetResponseExample:
                  $ref: '#/components/examples/UsersMessagesAttachmentsGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersMessagesAttachmentsGetResponseExample
components:
  examples:
    UsersMessagesAttachmentsGetResponseExample:
      summary: Successful 200 response
      value:
        attachmentId: pariatur velit id sint dolore
        size: -61751759
        data: laboris eiusmod
  schemas:
    UsersMessagesAttachmentsGetResponse:
      description: UsersMessagesAttachmentsGetResponse schema
      type: object
      properties:
        attachmentId:
          type: string
        size:
          type: integer
        data:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
