openapi: 3.2.0
info:
  title: Google Gmail Attachments API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Attachments
  description: Operations related to Attachments
paths:
  /gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}:
    get:
      tags:
      - Attachments
      summary: Google Get Attachments
      description: Gets the specified message attachment.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: messageId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesAttachmentsGetResponse'
              examples:
                UsersMessagesAttachmentsGetResponseExample:
                  $ref: '#/components/examples/UsersMessagesAttachmentsGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersMessagesAttachmentsGetResponseExample
components:
  schemas:
    UsersMessagesAttachmentsGetResponse:
      description: UsersMessagesAttachmentsGetResponse schema
      type: object
      properties:
        attachmentId:
          type: string
        size:
          type: integer
        data:
          type: string
  examples:
    UsersMessagesAttachmentsGetResponseExample:
      summary: Successful 200 response
      value:
        attachmentId: pariatur velit id sint dolore
        size: -61751759
        data: laboris eiusmod
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
