openapi: 3.1.0
info:
  title: Google Books About Addresses API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Addresses
  description: Operations related to Addresses
paths:
  /gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}:
    get:
      tags:
      - Addresses
      summary: Google Get Forwarding Addresses
      description: Gets the specified forwarding address.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: forwardingEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsForwardingAddressesGetResponse'
              examples:
                UsersSettingsForwardingAddressesGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsForwardingAddressesGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsForwardingAddressesGetResponseExample
    delete:
      tags:
      - Addresses
      summary: Google Delete Forwarding Addresses
      description: Deletes the specified forwarding address and revokes any verification that may have been required. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: forwardingEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /gmail/v1/users/{userId}/settings/forwardingAddresses:
    get:
      tags:
      - Addresses
      summary: Google List Forwarding Addresses
      description: Lists the forwarding addresses for the specified account.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsForwardingAddressesGetResponse1'
              examples:
                UsersSettingsForwardingAddressesGetResponse1Example:
                  $ref: '#/components/examples/UsersSettingsForwardingAddressesGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsForwardingAddressesGetResponse1Example
components:
  examples:
    UsersSettingsForwardingAddressesGetResponseExample:
      summary: Successful 200 response
      value:
        forwardingEmail: ad tempor dolor
        verificationStatus: pending
    UsersSettingsForwardingAddressesGetResponse1Example:
      summary: Successful 200 response
      value:
        forwardingAddresses:
        - forwardingEmail: consequat
          verificationStatus: accepted
        - forwardingEmail: proident ad nulla occaecat dolore
          verificationStatus: verificationStatusUnspecified
  schemas:
    UsersSettingsForwardingAddressesGetResponse:
      description: UsersSettingsForwardingAddressesGetResponse schema
      type: object
      properties:
        forwardingEmail:
          type: string
        verificationStatus:
          type: string
    UsersSettingsForwardingAddressesGetResponse1:
      description: UsersSettingsForwardingAddressesGetResponse1 schema
      type: object
      properties:
        forwardingAddresses:
          type: array
          items:
            type: object
            properties:
              forwardingEmail:
                type: string
              verificationStatus:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
