openapi: 3.2.0
info:
  title: Google Gmail Language API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Language
  description: Operations related to Language
paths:
  /gmail/v1/users/{userId}/settings/language:
    put:
      tags:
      - Language
      summary: Google Update Language Settings
      description: Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsLanguagePutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsLanguagePutResponse'
              examples:
                UsersSettingsLanguagePutResponseExample:
                  $ref: '#/components/examples/UsersSettingsLanguagePutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsLanguagePutResponseExample
components:
  schemas:
    UsersSettingsLanguagePutResponse:
      description: UsersSettingsLanguagePutResponse schema
      type: object
      properties:
        displayLanguage:
          type: string
    UsersSettingsLanguagePutRequest:
      description: UsersSettingsLanguagePutRequest schema
      type: object
      example:
        displayLanguage: occaecat adipisicing
  examples:
    UsersSettingsLanguagePutResponseExample:
      summary: Successful 200 response
      value:
        displayLanguage: occaecat adipisicing
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
