openapi: 3.2.0
info:
  title: Google Drive About API
  description: The Google Drive API allows clients to access resources from Google Drive.
  version: v3
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
servers:
- url: https://www.googleapis.com/drive/v3
  description: Google Drive API Server
tags:
- name: About
  description: Operations related to About
paths:
  /about:
    get:
      tags:
      - About
      summary: Google Get About
      description: Gets information about the user, the user's Drive, and system capabilities.
      operationId: googleDriveAboutGet
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      parameters:
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/About'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
components:
  schemas:
    User:
      description: Information about a Drive user.
      properties:
        displayName:
          description: Output only. A plain text displayable name for this user.
          type: string
        emailAddress:
          description: Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.
          type: string
        kind:
          default: drive#user
          description: 'Output only. Identifies what kind of resource this is. Value: the fixed string `"drive#user"`.'
          type: string
        me:
          description: Output only. Whether this user is the requesting user.
          type: boolean
        permissionId:
          description: Output only. The user's ID as visible in Permission resources.
          type: string
        photoLink:
          description: Output only. A link to the user's profile photo, if available.
          type: string
      type: object
    About:
      description: Information about the user, the user's Drive, and system capabilities.
      properties:
        appInstalled:
          description: Whether the user has installed the requesting app.
          type: boolean
        canCreateDrives:
          description: Whether the user can create shared drives.
          type: boolean
        canCreateTeamDrives:
          deprecated: true
          description: 'Deprecated: Use `canCreateDrives` instead.'
          type: boolean
        driveThemes:
          description: A list of themes that are supported for shared drives.
          items:
            properties:
              backgroundImageLink:
                description: A link to this theme's background image.
                type: string
              colorRgb:
                description: The color of this theme as an RGB hex string.
                type: string
              id:
                description: The ID of the theme.
                type: string
            type: object
          type: array
        exportFormats:
          additionalProperties:
            items:
              type: string
            type: array
          description: A map of source MIME type to possible targets for all supported exports.
          type: object
        folderColorPalette:
          description: The currently supported folder colors as RGB hex strings.
          items:
            type: string
          type: array
        importFormats:
          additionalProperties:
            items:
              type: string
            type: array
          description: A map of source MIME type to possible targets for all supported imports.
          type: object
        kind:
          default: drive#about
          description: 'Identifies what kind of resource this is. Value: the fixed string `"drive#about"`.'
          type: string
        maxImportSizes:
          additionalProperties:
            format: int64
            type: string
          description: A map of maximum import sizes by MIME type, in bytes.
          type: object
        maxUploadSize:
          description: The maximum upload size in bytes.
          format: int64
          type: string
        storageQuota:
          description: The user's storage quota limits and usage. All fields are measured in bytes.
          properties:
            limit:
              description: The usage limit, if applicable. This will not be present if the user has unlimited storage.
              format: int64
              type: string
            usage:
              description: The total usage across all services.
              format: int64
              type: string
            usageInDrive:
              description: The usage by all files in Google Drive.
              format: int64
              type: string
            usageInDriveTrash:
              description: The usage by trashed files in Google Drive.
              format: int64
              type: string
          type: object
        teamDriveThemes:
          deprecated: true
          description: 'Deprecated: Use `driveThemes` instead.'
          items:
            properties:
              backgroundImageLink:
                deprecated: true
                description: 'Deprecated: Use `driveThemes/backgroundImageLink` instead.'
                type: string
              colorRgb:
                deprecated: true
                description: 'Deprecated: Use `driveThemes/colorRgb` instead.'
                type: string
              id:
                deprecated: true
                description: 'Deprecated: Use `driveThemes/id` instead.'
                type: string
            type: object
          type: array
        user:
          $ref: '#/components/schemas/User'
          description: The authenticated user.
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/drive: See, edit, create, and delete all of your Google Drive files
            https://www.googleapis.com/auth/drive.appdata: See, create, and delete its own configuration data in your Google Drive
            https://www.googleapis.com/auth/drive.apps.readonly: View your Google Drive apps
            https://www.googleapis.com/auth/drive.file: See, edit, create, and delete only the specific Google Drive files you use with this app
            https://www.googleapis.com/auth/drive.metadata: View and manage metadata of files in your Google Drive
            https://www.googleapis.com/auth/drive.metadata.readonly: See information about your Google Drive files
            https://www.googleapis.com/auth/drive.photos.readonly: View the photos, videos and albums in your Google Photos
            https://www.googleapis.com/auth/drive.readonly: See and download all your Google Drive files
            https://www.googleapis.com/auth/drive.scripts: Modify your Google Apps Script scripts' behavior
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/drive: See, edit, create, and delete all of your Google Drive files
            https://www.googleapis.com/auth/drive.appdata: See, create, and delete its own configuration data in your Google Drive
            https://www.googleapis.com/auth/drive.apps.readonly: View your Google Drive apps
            https://www.googleapis.com/auth/drive.file: See, edit, create, and delete only the specific Google Drive files you use with this app
            https://www.googleapis.com/auth/drive.metadata: View and manage metadata of files in your Google Drive
            https://www.googleapis.com/auth/drive.metadata.readonly: See information about your Google Drive files
            https://www.googleapis.com/auth/drive.photos.readonly: View the photos, videos and albums in your Google Photos
            https://www.googleapis.com/auth/drive.readonly: See and download all your Google Drive files
            https://www.googleapis.com/auth/drive.scripts: Modify your Google Apps Script scripts' behavior
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
externalDocs:
  url: https://developers.google.com/drive/
