openapi: 3.2.0
info:
  title: Google Gmail Trash API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Trash
  description: Operations related to Trash
paths:
  /gmail/v1/users/{userId}/messages/{id}/trash:
    post:
      tags:
      - Trash
      summary: Google Trash Messsages
      description: Moves the specified message to the trash.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesTrashPostResponse'
              examples:
                UsersMessagesTrashPostResponseExample:
                  $ref: '#/components/examples/UsersMessagesTrashPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersMessagesTrashPostResponseExample
components:
  schemas:
    UsersMessagesTrashPostResponsePayload:
      description: UsersMessagesTrashPostResponsePayload schema
      type: object
      properties:
        partId:
          type: string
        mimeType:
          type: string
        filename:
          type: string
        headers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
        body:
          $ref: '#/components/schemas/UsersMessagesTrashPostResponsePayloadBody'
        parts:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
    UsersMessagesTrashPostResponsePayloadBody:
      description: UsersMessagesTrashPostResponsePayloadBody schema
      type: object
      properties:
        attachmentId:
          type: string
        size:
          type: integer
        data:
          type: string
    UsersMessagesTrashPostResponse:
      description: UsersMessagesTrashPostResponse schema
      type: object
      properties:
        id:
          type: string
        threadId:
          type: string
        labelIds:
          type: array
          items:
            type: string
        snippet:
          type: string
        historyId:
          type: string
        internalDate:
          type: string
        payload:
          $ref: '#/components/schemas/UsersMessagesTrashPostResponsePayload'
        sizeEstimate:
          type: integer
        raw:
          type: string
  examples:
    UsersMessagesTrashPostResponseExample:
      summary: Successful 200 response
      value:
        id: eu incididunt laborum irure
        threadId: magna Ut officia
        labelIds:
        - mollit amet dolore cupidatat
        - cupidatat deserunt mollit
        snippet: ut dolor
        historyId: nisi tempor do
        internalDate: cupidatat officia anim
        payload:
          partId: dolore velit incididunt est a
          mimeType: sit dolor mollit
          filename: ea commodo dolor nisi
          headers:
          - name: quis id velit laborum
            value: et voluptate dolor ea
          - name: sit nostrud
            value: deserunt fugiat ex
          body:
            attachmentId: id nulla consequat
            size: -93837667
            data: ad in occaecat
          parts:
          - value: '<Circular reference to #/components/schemas/MessagePart detected>'
          - value: '<Circular reference to #/components/schemas/MessagePart detected>'
        sizeEstimate: 21128811
        raw: do laboris
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
