openapi: 3.2.0
info:
  title: Google Gmail Auto API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Auto
  description: Operations related to Auto
paths:
  /gmail/v1/users/{userId}/settings/autoForwarding:
    get:
      tags:
      - Auto
      summary: Google Get Auto Forwarding Settings
      description: Gets the auto-forwarding setting for the specified account.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsAutoForwardingGetResponse'
              examples:
                UsersSettingsAutoForwardingGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsAutoForwardingGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsAutoForwardingGetResponseExample
    put:
      tags:
      - Auto
      summary: Google Update Auto Forwarding
      description: Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsAutoForwardingPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsAutoForwardingPutResponse'
              examples:
                UsersSettingsAutoForwardingPutResponseExample:
                  $ref: '#/components/examples/UsersSettingsAutoForwardingPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsAutoForwardingPutResponseExample
components:
  examples:
    UsersSettingsAutoForwardingGetResponseExample:
      summary: Successful 200 response
      value:
        enabled: false
        emailAddress: officia ullamco Ut laboris eu
        disposition: trash
    UsersSettingsAutoForwardingPutResponseExample:
      summary: Successful 200 response
      value:
        enabled: false
        emailAddress: officia ullamco Ut laboris eu
        disposition: trash
  schemas:
    UsersSettingsAutoForwardingGetResponse:
      description: UsersSettingsAutoForwardingGetResponse schema
      type: object
      properties:
        enabled:
          type: boolean
        emailAddress:
          type: string
        disposition:
          type: string
    UsersSettingsAutoForwardingPutRequest:
      description: UsersSettingsAutoForwardingPutRequest schema
      type: object
      example:
        enabled: false
        emailAddress: officia ullamco Ut laboris eu
        disposition: trash
    UsersSettingsAutoForwardingPutResponse:
      description: UsersSettingsAutoForwardingPutResponse schema
      type: object
      properties:
        enabled:
          type: boolean
        emailAddress:
          type: string
        disposition:
          type: string
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
