openapi: 3.2.0
info:
  title: Google Gmail Enables API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Enables
  description: Operations related to Enables
paths:
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable:
    post:
      tags:
      - Enables
      summary: Google Enable CSE Keypairs
      description: Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: keyPairId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseKeypairsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseKeypairsPostResponse'
              examples:
                SettingsCseKeypairsPostResponseExample:
                  $ref: '#/components/examples/SettingsCseKeypairsPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SettingsCseKeypairsPostResponseExample
components:
  schemas:
    SettingsCseKeypairsPostResponse:
      description: SettingsCseKeypairsPostResponse schema
      type: object
      properties:
        keyPairId:
          type: string
        pkcs7:
          type: string
        pem:
          type: string
        subjectEmailAddresses:
          type: array
          items:
            type: string
        enablementState:
          type: string
        disableTime:
          type: string
        privateKeyMetadata:
          type: array
          items:
            type: object
            properties:
              privateKeyMetadataId:
                type: string
              kaclsKeyMetadata:
                type: object
                properties:
                  kaclsUri:
                    type: string
                  kaclsData:
                    type: string
              hardwareKeyMetadata:
                type: object
                properties:
                  description:
                    type: string
    SettingsCseKeypairsPostRequest:
      description: SettingsCseKeypairsPostRequest schema
      type: object
      example: {}
  examples:
    SettingsCseKeypairsPostResponseExample:
      summary: Successful 200 response
      value:
        keyPairId: Lorem eiusmod
        pkcs7: ex incididunt
        pem: irure quis
        subjectEmailAddresses:
        - Excepteur Ut commodo aliquip
        - eu Lorem nulla
        enablementState: disabled
        disableTime: cill
        privateKeyMetadata:
        - privateKeyMetadataId: proident fugiat eu dolore
          kaclsKeyMetadata:
            kaclsUri: voluptate ipsum ad
            kaclsData: Duis laborum aute
          hardwareKeyMetadata:
            description: mollit la
        - privateKeyMetadataId: nulla ullamco
          kaclsKeyMetadata:
            kaclsUri: minim in
            kaclsData: sint eiusmod
          hardwareKeyMetadata:
            description: ut
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
