openapi: 3.2.0
info:
  title: Google Gmail Delegates API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Delegates
  description: Operations related to Delegates
paths:
  /gmail/v1/users/{userId}/settings/delegates/{delegateEmail}:
    get:
      tags:
      - Delegates
      summary: Google Get Delegates
      description: Gets the specified delegate. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: delegateEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsDelegatesGetResponse'
              examples:
                UsersSettingsDelegatesGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsDelegatesGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsDelegatesGetResponseExample
    delete:
      tags:
      - Delegates
      summary: Google Delete Delegates
      description: Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: delegateEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /gmail/v1/users/{userId}/settings/delegates:
    get:
      tags:
      - Delegates
      summary: Google List Delegates
      description: Lists the delegates for the specified account. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsDelegatesGetResponse1'
              examples:
                UsersSettingsDelegatesGetResponse1Example:
                  $ref: '#/components/examples/UsersSettingsDelegatesGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsDelegatesGetResponse1Example
components:
  schemas:
    UsersSettingsDelegatesGetResponse:
      description: UsersSettingsDelegatesGetResponse schema
      type: object
      properties:
        delegateEmail:
          type: string
        verificationStatus:
          type: string
    UsersSettingsDelegatesGetResponse1:
      description: UsersSettingsDelegatesGetResponse1 schema
      type: object
      properties:
        delegates:
          type: array
          items:
            type: object
            properties:
              delegateEmail:
                type: string
              verificationStatus:
                type: string
  examples:
    UsersSettingsDelegatesGetResponseExample:
      summary: Successful 200 response
      value:
        delegateEmail: Duis commodo enim irure
        verificationStatus: rejected
    UsersSettingsDelegatesGetResponse1Example:
      summary: Successful 200 response
      value:
        delegates:
        - delegateEmail: 'veniam voluptate '
          verificationStatus: accepted
        - delegateEmail: qui ipsum
          verificationStatus: expired
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
