openapi: 3.2.0
info:
  title: Google Gmail Addresses API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Addresses
  description: Operations related to Addresses
paths:
  /gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}:
    get:
      tags:
      - Addresses
      summary: Google Get Forwarding Addresses
      description: Gets the specified forwarding address.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: forwardingEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsForwardingAddressesGetResponse'
              examples:
                UsersSettingsForwardingAddressesGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsForwardingAddressesGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsForwardingAddressesGetResponseExample
    delete:
      tags:
      - Addresses
      summary: Google Delete Forwarding Addresses
      description: Deletes the specified forwarding address and revokes any verification that may have been required. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: forwardingEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /gmail/v1/users/{userId}/settings/forwardingAddresses:
    get:
      tags:
      - Addresses
      summary: Google List Forwarding Addresses
      description: Lists the forwarding addresses for the specified account.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsForwardingAddressesGetResponse1'
              examples:
                UsersSettingsForwardingAddressesGetResponse1Example:
                  $ref: '#/components/examples/UsersSettingsForwardingAddressesGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsForwardingAddressesGetResponse1Example
components:
  examples:
    UsersSettingsForwardingAddressesGetResponse1Example:
      summary: Successful 200 response
      value:
        forwardingAddresses:
        - forwardingEmail: consequat
          verificationStatus: accepted
        - forwardingEmail: proident ad nulla occaecat dolore
          verificationStatus: verificationStatusUnspecified
    UsersSettingsForwardingAddressesGetResponseExample:
      summary: Successful 200 response
      value:
        forwardingEmail: ad tempor dolor
        verificationStatus: pending
  schemas:
    UsersSettingsForwardingAddressesGetResponse:
      description: UsersSettingsForwardingAddressesGetResponse schema
      type: object
      properties:
        forwardingEmail:
          type: string
        verificationStatus:
          type: string
    UsersSettingsForwardingAddressesGetResponse1:
      description: UsersSettingsForwardingAddressesGetResponse1 schema
      type: object
      properties:
        forwardingAddresses:
          type: array
          items:
            type: object
            properties:
              forwardingEmail:
                type: string
              verificationStatus:
                type: string
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
