openapi: 3.2.0
info:
  title: Google Update API
  version: 1.0.0
  description: 'Operations tagged Update across 2 of this provider''s published API definitions: google-gmail-api-openapi.yml, google-sheets-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
- url: https://sheets.googleapis.com
  description: Google Sheets API Server
security:
- oauth2Auth: []
tags:
- name: Update
  description: Operations related to Update
paths:
  /gmail/v1/users/{userId}/settings/imap:
    put:
      tags:
      - Update
      summary: Google Update IMAP
      description: Updates IMAP settings.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsImapPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsImapPutResponse'
              examples:
                UsersSettingsImapPutResponseExample:
                  $ref: '#/components/examples/UsersSettingsImapPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsImapPutResponseExample
    servers:
    - url: https://gmail.googleapis.com
      description: Google Gmail API Server
  /v4/spreadsheets/{spreadsheetId}/values/{range}:
    put:
      tags:
      - Update
      summary: Google Update Values
      description: Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      - name: range
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{range}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesPutResponse'
              examples:
                SpreadsheetsValuesPutResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesPutResponseExample
    servers:
    - url: https://sheets.googleapis.com
      description: Google Sheets API Server
components:
  examples:
    UsersSettingsImapPutResponseExample:
      summary: Successful 200 response
      value:
        enabled: false
        autoExpunge: false
        expungeBehavior: deleteForever
        maxFolderSize: -49364914
    SpreadsheetsValuesPutResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
  schemas:
    UsersSettingsImapPutRequest:
      description: UsersSettingsImapPutRequest schema
      type: object
      example:
        enabled: false
        autoExpunge: false
        expungeBehavior: deleteForever
        maxFolderSize: -49364914
    UsersSettingsImapPutResponse:
      description: UsersSettingsImapPutResponse schema
      type: object
      properties:
        enabled:
          type: boolean
        autoExpunge:
          type: boolean
        expungeBehavior:
          type: string
        maxFolderSize:
          type: integer
    SpreadsheetsValuesPutRequest:
      description: SpreadsheetsValuesPutRequest schema
      type: object
      example: null
    SpreadsheetsValuesPutResponse:
      description: SpreadsheetsValuesPutResponse schema
      type: object
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
x-refined-from:
- google-gmail-api-openapi.yml
- google-sheets-api-openapi.yml
