openapi: 3.2.0
info:
  title: Google Sheets Clear API
  description: The Google Sheets API is a RESTful interface that lets you read and modify a spreadsheet's data..
  version: 1.0.0
servers:
- url: https://sheets.googleapis.com
  description: Google Sheets API Server
security:
- oauth2Auth: []
tags:
- name: Clear
  description: Operations related to Clear
paths:
  /v4/spreadsheets/{spreadsheetId}/values/{range}:clear:
    post:
      tags:
      - Clear
      summary: Google Clear Values
      description: Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      - name: range
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesPostRequest1'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesPostResponse1'
              examples:
                SpreadsheetsValuesPostResponse1Example:
                  $ref: '#/components/examples/SpreadsheetsValuesPostResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesPostResponse1Example
components:
  examples:
    SpreadsheetsValuesPostResponse1Example:
      summary: Successful 200 response
      value:
        clearedRange: mollit sunt reprehenderit
        spreadsheetId: dolor in enim
  schemas:
    SpreadsheetsValuesPostRequest1:
      description: SpreadsheetsValuesPostRequest1 schema
      type: object
      example: {}
    SpreadsheetsValuesPostResponse1:
      description: SpreadsheetsValuesPostResponse1 schema
      type: object
      properties:
        clearedRange:
          type: string
        spreadsheetId:
          type: string
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
