openapi: 3.2.0
info:
  title: Google Calendar Colors API
  description: The Google Calendar API allows developers to integrate their applications with Google Calendar, enabling them to create, modify, and manage events and settings programmatically. This API is robust, offering functionalities like managing calendar lists, events, access permissions, and user settings.
  version: 1.0.0
servers:
- url: https://www.googleapis.com/calendar/v3
  description: Google Calendar API Server
tags:
- name: Colors
  description: Operations related to Default
paths:
  /colors:
    get:
      tags:
      - Colors
      summary: Google Get Calendar Colors
      description: Returns the color definitions for calendars and events.
      operationId: googleGetcalendarcolors
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorsGetResponse'
              examples:
                ColorsGetResponseExample:
                  $ref: '#/components/examples/ColorsGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ColorsGetResponseExample
components:
  examples:
    ColorsGetResponseExample:
      summary: Successful 200 response
      value:
        calendar:
          qui_15:
            background: dolore et occaecat
            foreground: et est cupidatat ullamco
          nulla_2:
            background: cupidatat ipsum Duis
            foreground: officia elit Excepteur dolore
          laborisaf:
            background: ex proident culpa consectetur veniam
            foreground: cupidatat dolore mollit laborum
        event:
          Excepteure8:
            background: in
            foreground: Ut reprehenderit officia Duis
        kind: calendar#colors
        updated: '1990-01-21T16:25:35.908Z'
  schemas:
    ColorsGetResponseCalendarQui15:
      description: ColorsGetResponseCalendarQui15 schema
      type: object
      properties:
        background:
          type: string
        foreground:
          type: string
    ColorsGetResponseEventExcepteure8:
      description: ColorsGetResponseEventExcepteure8 schema
      type: object
      properties:
        background:
          type: string
        foreground:
          type: string
    ColorsGetResponseEvent:
      description: ColorsGetResponseEvent schema
      type: object
      properties:
        Excepteure8:
          $ref: '#/components/schemas/ColorsGetResponseEventExcepteure8'
    ColorsGetResponseCalendarNulla2:
      description: ColorsGetResponseCalendarNulla2 schema
      type: object
      properties:
        background:
          type: string
        foreground:
          type: string
    ColorsGetResponseCalendarLaborisaf:
      description: ColorsGetResponseCalendarLaborisaf schema
      type: object
      properties:
        background:
          type: string
        foreground:
          type: string
    ColorsGetResponse:
      description: ColorsGetResponse schema
      type: object
      properties:
        calendar:
          $ref: '#/components/schemas/ColorsGetResponseCalendar'
        event:
          $ref: '#/components/schemas/ColorsGetResponseEvent'
        kind:
          type: string
        updated:
          type: string
          format: date-time
    ColorsGetResponseCalendar:
      description: ColorsGetResponseCalendar schema
      type: object
      properties:
        qui_15:
          $ref: '#/components/schemas/ColorsGetResponseCalendarQui15'
        nulla_2:
          $ref: '#/components/schemas/ColorsGetResponseCalendarNulla2'
        laborisaf:
          $ref: '#/components/schemas/ColorsGetResponseCalendarLaborisaf'
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
