openapi: 3.2.0
info:
  title: Google Calendar Calendar Events API
  description: The Google Calendar API allows developers to integrate their applications with Google Calendar, enabling them to create, modify, and manage events and settings programmatically. This API is robust, offering functionalities like managing calendar lists, events, access permissions, and user settings.
  version: 1.0.0
servers:
- url: https://www.googleapis.com/calendar/v3
  description: Google Calendar API Server
tags:
- name: Calendar Events
  description: Operations related to Calendarscalendaridevents
paths:
  /calendars/{calendarId}/events/{eventId}:
    get:
      tags:
      - Calendar Events
      summary: Google Get Event
      description: Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.
      operationId: googleGetevent
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: alwaysIncludeEmail
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: maxAttendees
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: timeZone
        in: query
        schema:
          type: string
        example: amet in
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - name: eventId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsGetResponse'
              examples:
                CalendarsEventsGetResponseExample:
                  $ref: '#/components/examples/CalendarsEventsGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsGetResponseExample
    put:
      tags:
      - Calendar Events
      summary: Google Update Event
      description: Updates an event.
      operationId: googleUpdateevent
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: alwaysIncludeEmail
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: conferenceDataVersion
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: maxAttendees
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: sendNotifications
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: sendUpdates
        in: query
        schema:
          type: string
        example: amet in
      - name: supportsAttachments
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - name: eventId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsPutResponse'
              examples:
                CalendarsEventsPutResponseExample:
                  $ref: '#/components/examples/CalendarsEventsPutResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsPutResponseExample
    patch:
      tags:
      - Calendar Events
      summary: Google Patch Event
      description: Updates an event. This method supports patch semantics.
      operationId: googlePatchevent
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: alwaysIncludeEmail
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: conferenceDataVersion
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: maxAttendees
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: sendNotifications
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: sendUpdates
        in: query
        schema:
          type: string
        example: amet in
      - name: supportsAttachments
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - name: eventId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsPatchRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsPatchResponse'
              examples:
                CalendarsEventsPatchResponseExample:
                  $ref: '#/components/examples/CalendarsEventsPatchResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsPatchResponseExample
    delete:
      tags:
      - Calendar Events
      summary: Google Delete Event
      description: Deletes an event.
      operationId: googleDeleteevent
      parameters:
      - name: sendNotifications
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: sendUpdates
        in: query
        schema:
          type: string
        example: amet in
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - name: eventId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /calendars/{calendarId}/events/{eventId}/instances:
    get:
      tags:
      - Calendar Events
      summary: Google Insert Event
      description: Returns instances of the specified recurring event.
      operationId: googleInsertevent
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: alwaysIncludeEmail
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: maxAttendees
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: maxResults
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: originalStart
        in: query
        schema:
          type: string
        example: amet in
      - name: pageToken
        in: query
        schema:
          type: string
        example: amet in
      - name: showDeleted
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: timeMax
        in: query
        schema:
          type: string
        example: amet in
      - name: timeMin
        in: query
        schema:
          type: string
        example: amet in
      - name: timeZone
        in: query
        schema:
          type: string
        example: amet in
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - name: eventId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsInstancesGetResponse'
              examples:
                CalendarsEventsInstancesGetResponseExample:
                  $ref: '#/components/examples/CalendarsEventsInstancesGetResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsInstancesGetResponseExample
  /calendars/{calendarId}/events/{eventId}/move:
    post:
      tags:
      - Calendar Events
      summary: Google Move Event
      description: Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; outOfOffice, focusTime and workingLocation events cannot be moved.
      operationId: googleMoveevent
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: destination
        in: query
        schema:
          type: string
        description: '(Required) '
        example: amet in
      - name: sendNotifications
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: sendUpdates
        in: query
        schema:
          type: string
        example: amet in
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - name: eventId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsMovePostResponse'
              examples:
                CalendarsEventsMovePostResponseExample:
                  $ref: '#/components/examples/CalendarsEventsMovePostResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsMovePostResponseExample
  /calendars/{calendarId}/events:
    get:
      tags:
      - Calendar Events
      summary: Google Return Events From Calendar
      description: Returns events on the specified calendar.
      operationId: googleReturneventsfromcalendar
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: alwaysIncludeEmail
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: eventTypes
        in: query
        schema:
          type: string
        example: amet in
      - name: iCalUID
        in: query
        schema:
          type: string
        example: amet in
      - name: maxAttendees
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: maxResults
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: orderBy
        in: query
        schema:
          type: string
        example: amet in
      - name: pageToken
        in: query
        schema:
          type: string
        example: amet in
      - name: privateExtendedProperty
        in: query
        schema:
          type: string
        example: amet in
      - name: q
        in: query
        schema:
          type: string
        example: amet in
      - name: sharedExtendedProperty
        in: query
        schema:
          type: string
        example: amet in
      - name: showDeleted
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: showHiddenInvitations
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: singleEvents
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: syncToken
        in: query
        schema:
          type: string
        example: amet in
      - name: timeMax
        in: query
        schema:
          type: string
        example: amet in
      - name: timeMin
        in: query
        schema:
          type: string
        example: amet in
      - name: timeZone
        in: query
        schema:
          type: string
        example: amet in
      - name: updatedMin
        in: query
        schema:
          type: string
        example: amet in
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsGetResponse1'
              examples:
                CalendarsEventsGetResponse1Example:
                  $ref: '#/components/examples/CalendarsEventsGetResponse1Example'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsGetResponse1Example
    post:
      tags:
      - Calendar Events
      summary: Google Create An Event
      description: Creates an event.
      operationId: googleCreateanevent
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: conferenceDataVersion
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: maxAttendees
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: sendNotifications
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: sendUpdates
        in: query
        schema:
          type: string
        example: amet in
      - name: supportsAttachments
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsPostResponse'
              examples:
                CalendarsEventsPostResponseExample:
                  $ref: '#/components/examples/CalendarsEventsPostResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsPostResponseExample
  /calendars/{calendarId}/events/import:
    post:
      tags:
      - Calendar Events
      summary: Google Import Event
      description: Imports an event. This operation is used to add a private copy of an existing event to a calendar.
      operationId: googleImportevent
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: conferenceDataVersion
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: supportsAttachments
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsImportPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsImportPostResponse'
              examples:
                CalendarsEventsImportPostResponseExample:
                  $ref: '#/components/examples/CalendarsEventsImportPostResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsImportPostResponseExample
  /calendars/{calendarId}/events/quickAdd:
    post:
      tags:
      - Calendar Events
      summary: Google Quick Add Event
      description: Creates an event based on a simple text string.
      operationId: googleQuickaddevent
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: text
        in: query
        schema:
          type: string
        description: '(Required) '
        example: amet in
      - name: sendNotifications
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: sendUpdates
        in: query
        schema:
          type: string
        example: amet in
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsQuickAddPostResponse'
              examples:
                CalendarsEventsQuickAddPostResponseExample:
                  $ref: '#/components/examples/CalendarsEventsQuickAddPostResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsQuickAddPostResponseExample
  /calendars/{calendarId}/events/watch:
    post:
      tags:
      - Calendar Events
      summary: Google Watch Events
      description: Watch for changes to Events resources.
      operationId: googleWatchevents
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: alwaysIncludeEmail
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: eventTypes
        in: query
        schema:
          type: string
        example: amet in
      - name: iCalUID
        in: query
        schema:
          type: string
        example: amet in
      - name: maxAttendees
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: maxResults
        in: query
        schema:
          type: integer
        example: '54806309'
      - name: orderBy
        in: query
        schema:
          type: string
        example: amet in
      - name: pageToken
        in: query
        schema:
          type: string
        example: amet in
      - name: privateExtendedProperty
        in: query
        schema:
          type: string
        example: amet in
      - name: q
        in: query
        schema:
          type: string
        example: amet in
      - name: sharedExtendedProperty
        in: query
        schema:
          type: string
        example: amet in
      - name: showDeleted
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: showHiddenInvitations
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: singleEvents
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: syncToken
        in: query
        schema:
          type: string
        example: amet in
      - name: timeMax
        in: query
        schema:
          type: string
        example: amet in
      - name: timeMin
        in: query
        schema:
          type: string
        example: amet in
      - name: timeZone
        in: query
        schema:
          type: string
        example: amet in
      - name: updatedMin
        in: query
        schema:
          type: string
        example: amet in
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for the response.
        example: json
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: amet in
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: amet in
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: amet in
      - name: prettyPrint
        in: query
        schema:
          type: boolean
        description: Returns response with indentations and line breaks.
        example: 'true'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
        example: amet in
      - name: userIp
        in: query
        schema:
          type: string
        description: Deprecated. Please use quotaUser instead.
        example: amet in
      - name: calendarId
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsWatchPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsWatchPostResponse'
              examples:
                CalendarsEventsWatchPostResponseExample:
                  $ref: '#/components/examples/CalendarsEventsWatchPostResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: CalendarsEventsWatchPostResponseExample
components:
  schemas:
    CalendarsEventsWatchPostResponseParams:
      description: CalendarsEventsWatchPostResponseParams schema
      type: object
      properties:
        reprehenderit5c:
          type: string
        sint_b:
          type: string
    CalendarsEventsQuickAddPostResponse:
      description: CalendarsEventsQuickAddPostResponse schema
      type: object
    CalendarsEventsPostResponse:
      description: CalendarsEventsPostResponse schema
      type: object
    CalendarsEventsPatchResponse:
      description: CalendarsEventsPatchResponse schema
      type: object
    CalendarsEventsGetResponse1:
      description: CalendarsEventsGetResponse1 schema
      type: object
    CalendarsEventsPatchRequest:
      description: CalendarsEventsPatchRequest schema
      type: object
      example: null
    CalendarsEventsPutRequest:
      description: CalendarsEventsPutRequest schema
      type: object
      example: null
    CalendarsEventsWatchPostRequest:
      description: CalendarsEventsWatchPostRequest schema
      type: object
      example:
        address: incididunt sed consequat
        expiration: velit ad aliq
        id: velit eiusmod
        kind: api#channel
        params:
          reprehenderit5c: non
          sint_b: cupidatat do
        payload: false
        resourceId: aute
        resourceUri: fugiat consequat
        token: ullamco officia in
        type: ex eiusmod adipisicing mollit
    CalendarsEventsGetResponse:
      description: CalendarsEventsGetResponse schema
      type: object
    CalendarsEventsWatchPostResponse:
      description: CalendarsEventsWatchPostResponse schema
      type: object
      properties:
        address:
          type: string
        expiration:
          type: string
        id:
          type: string
        kind:
          type: string
        params:
          $ref: '#/components/schemas/CalendarsEventsWatchPostResponseParams'
        payload:
          type: boolean
        resourceId:
          type: string
        resourceUri:
          type: string
        token:
          type: string
        type:
          type: string
    CalendarsEventsPostRequest:
      description: CalendarsEventsPostRequest schema
      type: object
      example: null
    CalendarsEventsPutResponse:
      description: CalendarsEventsPutResponse schema
      type: object
    CalendarsEventsInstancesGetResponse:
      description: CalendarsEventsInstancesGetResponse schema
      type: object
    CalendarsEventsMovePostResponse:
      description: CalendarsEventsMovePostResponse schema
      type: object
    CalendarsEventsImportPostResponse:
      description: CalendarsEventsImportPostResponse schema
      type: object
    CalendarsEventsImportPostRequest:
      description: CalendarsEventsImportPostRequest schema
      type: object
      example: null
  examples:
    CalendarsEventsMovePostResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    CalendarsEventsImportPostResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    CalendarsEventsInstancesGetResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    CalendarsEventsQuickAddPostResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    CalendarsEventsPostResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    CalendarsEventsGetResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    CalendarsEventsPutResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    CalendarsEventsWatchPostResponseExample:
      summary: Successful 200 response
      value:
        address: incididunt sed consequat
        expiration: velit ad aliq
        id: velit eiusmod
        kind: api#channel
        params:
          reprehenderit5c: non
          sint_b: cupidatat do
        payload: false
        resourceId: aute
        resourceUri: fugiat consequat
        token: ullamco officia in
        type: ex eiusmod adipisicing mollit
    CalendarsEventsGetResponse1Example:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    CalendarsEventsPatchResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
