openapi: 3.2.0
info:
  title: Google Calendar User Settings API
  description: The Google Calendar API allows developers to integrate their applications with Google Calendar, enabling them to create, modify, and manage events and settings programmatically. This API is robust, offering functionalities like managing calendar lists, events, access permissions, and user settings.
  version: 1.0.0
servers:
- url: https://www.googleapis.com/calendar/v3
  description: Google Calendar API Server
tags:
- name: User Settings
  description: Operations related to Usersmesettings
paths:
  /users/me/settings:
    get:
      tags:
      - User Settings
      summary: Google List Calendar Settings
      description: Returns all user settings for the authenticated user.
      operationId: googleListcalendarsettings
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMeSettingsGetResponse'
              examples:
                UsersMeSettingsGetResponseExample:
                  $ref: '#/components/examples/UsersMeSettingsGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersMeSettingsGetResponseExample
  /users/me/settings/{setting}:
    get:
      tags:
      - User Settings
      summary: Google Get Calendar Settings
      description: Returns a single user setting.
      operationId: googleGetcalendarsettings
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: setting
        in: path
        schema:
          type: string
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMeSettingsGetResponse1'
              examples:
                UsersMeSettingsGetResponse1Example:
                  $ref: '#/components/examples/UsersMeSettingsGetResponse1Example'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersMeSettingsGetResponse1Example
  /users/me/settings/watch:
    post:
      tags:
      - User Settings
      summary: Google Watch Calendar Settings
      description: Watch for changes to Settings resources.
      operationId: googleWatchcalendarsettings
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeSettingsWatchPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeSettingsWatchPostResponse'
              examples:
                MeSettingsWatchPostResponseExample:
                  $ref: '#/components/examples/MeSettingsWatchPostResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: MeSettingsWatchPostResponseExample
components:
  schemas:
    MeSettingsWatchPostRequest:
      description: MeSettingsWatchPostRequest schema
      type: object
      example:
        address: incididunt sed consequat
        expiration: velit ad aliq
        id: velit eiusmod
        kind: api#channel
        params:
          reprehenderit5c: non
          sint_b: cupidatat do
        payload: false
        resourceId: aute
        resourceUri: fugiat consequat
        token: ullamco officia in
        type: ex eiusmod adipisicing mollit
    MeSettingsWatchPostResponseParams:
      description: MeSettingsWatchPostResponseParams schema
      type: object
      properties:
        reprehenderit5c:
          type: string
        sint_b:
          type: string
    UsersMeSettingsGetResponse1:
      description: UsersMeSettingsGetResponse1 schema
      type: object
      properties:
        etag:
          type: string
        id:
          type: string
        kind:
          type: string
        value:
          type: string
    UsersMeSettingsGetResponse:
      description: UsersMeSettingsGetResponse schema
      type: object
      properties:
        etag:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              etag:
                type: string
              id:
                type: string
              kind:
                type: string
              value:
                type: string
        kind:
          type: string
        nextPageToken:
          type: string
        nextSyncToken:
          type: string
    MeSettingsWatchPostResponse:
      description: MeSettingsWatchPostResponse schema
      type: object
      properties:
        address:
          type: string
        expiration:
          type: string
        id:
          type: string
        kind:
          type: string
        params:
          $ref: '#/components/schemas/MeSettingsWatchPostResponseParams'
        payload:
          type: boolean
        resourceId:
          type: string
        resourceUri:
          type: string
        token:
          type: string
        type:
          type: string
  examples:
    MeSettingsWatchPostResponseExample:
      summary: Successful 200 response
      value:
        address: incididunt sed consequat
        expiration: velit ad aliq
        id: velit eiusmod
        kind: api#channel
        params:
          reprehenderit5c: non
          sint_b: cupidatat do
        payload: false
        resourceId: aute
        resourceUri: fugiat consequat
        token: ullamco officia in
        type: ex eiusmod adipisicing mollit
    UsersMeSettingsGetResponse1Example:
      summary: Successful 200 response
      value:
        etag: nisi cupidatat non dolor
        id: sint velit sit
        kind: calendar#setting
        value: in
    UsersMeSettingsGetResponseExample:
      summary: Successful 200 response
      value:
        etag: in officia sed exercitation sit
        items:
        - etag: do commodo
          id: dolor Ut
          kind: calendar#setting
          value: non labore occaecat ut
        - etag: culpa labore ut
          id: ullamco ut quis
          kind: calendar#setting
          value: laborum consectetur eu in
        kind: calendar#settings
        nextPageToken: ullamco
        nextSyncToken: mag
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
