openapi: 3.2.0
info:
  title: Google Gmail Address API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Address
  description: Operations related to Address
paths:
  /gmail/v1/users/{userId}/settings/forwardingAddresses:
    post:
      tags:
      - Address
      summary: Google Create Forwarding Address
      description: Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsForwardingAddressesPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsForwardingAddressesPostResponse'
              examples:
                UsersSettingsForwardingAddressesPostResponseExample:
                  $ref: '#/components/examples/UsersSettingsForwardingAddressesPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsForwardingAddressesPostResponseExample
components:
  schemas:
    UsersSettingsForwardingAddressesPostResponse:
      description: UsersSettingsForwardingAddressesPostResponse schema
      type: object
      properties:
        forwardingEmail:
          type: string
        verificationStatus:
          type: string
    UsersSettingsForwardingAddressesPostRequest:
      description: UsersSettingsForwardingAddressesPostRequest schema
      type: object
      example:
        forwardingEmail: ad tempor dolor
        verificationStatus: pending
  examples:
    UsersSettingsForwardingAddressesPostResponseExample:
      summary: Successful 200 response
      value:
        forwardingEmail: ad tempor dolor
        verificationStatus: pending
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
