openapi: 3.1.0
info:
  title: Google Books About Files API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Files
  description: Operations related to Files
paths:
  /files:
    get:
      tags:
      - Files
      summary: Google Get Files
      description: ' Lists the user''s files. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for files & folders](/drive/api/guides/search-files) guide. *Note:* This method returns *all* files by default, including trashed files. If you don''t want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.'
      operationId: googleDriveFilesList
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      parameters:
      - description: Bodies of items (files/documents) to which the query applies. Supported bodies are 'user', 'domain', 'drive', and 'allDrives'. Prefer 'user' or 'drive' to 'allDrives' for efficiency. By default, corpora is set to 'user'. However, this can change depending on the filter set through the 'q' parameter.
        in: query
        name: corpora
        schema:
          type: string
      - description: 'Deprecated: The source of files to list. Use ''corpora'' instead.'
        in: query
        name: corpus
        schema:
          enum:
          - domain
          - user
          type: string
      - description: ID of the shared drive to search.
        in: query
        name: driveId
        schema:
          type: string
      - description: Whether both My Drive and shared drive items should be included in results.
        in: query
        name: includeItemsFromAllDrives
        schema:
          type: boolean
      - description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
        in: query
        name: includeLabels
        schema:
          type: string
      - description: Specifies which additional view's permissions to include in the response. Only 'published' is supported.
        in: query
        name: includePermissionsForView
        schema:
          type: string
      - description: 'Deprecated: Use `includeItemsFromAllDrives` instead.'
        in: query
        name: includeTeamDriveItems
        schema:
          type: boolean
      - description: 'A comma-separated list of sort keys. Valid keys are ''createdTime'', ''folder'', ''modifiedByMeTime'', ''modifiedTime'', ''name'', ''name_natural'', ''quotaBytesUsed'', ''recency'', ''sharedWithMeTime'', ''starred'', and ''viewedByMeTime''. Each key sorts ascending by default, but can be reversed with the ''desc'' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name.'
        in: query
        name: orderBy
        schema:
          type: string
      - description: The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.
        in: query
        name: pageSize
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
        in: query
        name: pageToken
        schema:
          type: string
      - description: A query for filtering the file results. See the "Search for files & folders" guide for supported syntax.
        in: query
        name: q
        schema:
          type: string
      - description: A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.
        in: query
        name: spaces
        schema:
          type: string
      - description: Whether the requesting application supports both My Drives and shared drives.
        in: query
        name: supportsAllDrives
        schema:
          type: boolean
      - description: 'Deprecated: Use `supportsAllDrives` instead.'
        in: query
        name: supportsTeamDrives
        schema:
          type: boolean
      - description: 'Deprecated: Use `driveId` instead.'
        in: query
        name: teamDriveId
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
      x-api-evangelist-certified: '2025-07-18'
      x-api-naftiko-published: '2025-07-18'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
    post:
      tags:
      - Files
      summary: Google Post Files
      description: ' Creates a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.create` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `"name": "cat.jpg"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file''s MIME type.'
      operationId: googleDriveFilesCreate
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      parameters:
      - description: Deprecated. Creating files in multiple folders is no longer supported.
        in: query
        name: enforceSingleParent
        schema:
          type: boolean
      - description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
        in: query
        name: ignoreDefaultVisibility
        schema:
          type: boolean
      - description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
        in: query
        name: includeLabels
        schema:
          type: string
      - description: Specifies which additional view's permissions to include in the response. Only 'published' is supported.
        in: query
        name: includePermissionsForView
        schema:
          type: string
      - description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.
        in: query
        name: keepRevisionForever
        schema:
          type: boolean
      - description: A language hint for OCR processing during image import (ISO 639-1 code).
        in: query
        name: ocrLanguage
        schema:
          type: string
      - description: Whether the requesting application supports both My Drives and shared drives.
        in: query
        name: supportsAllDrives
        schema:
          type: boolean
      - description: 'Deprecated: Use `supportsAllDrives` instead.'
        in: query
        name: supportsTeamDrives
        schema:
          type: boolean
      - description: Whether to use the uploaded content as indexable text.
        in: query
        name: useContentAsIndexableText
        schema:
          type: boolean
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/File'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /files/generateIds:
    get:
      tags:
      - Files
      summary: Google Get Files Generateids
      description: Generates a set of file IDs which can be provided in create or copy requests.
      operationId: googleDriveFilesGenerateids
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      parameters:
      - description: The number of IDs to return.
        in: query
        name: count
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: 'The space in which the IDs can be used to create new files. Supported values are ''drive'' and ''appDataFolder''. (Default: ''drive'')'
        in: query
        name: space
        schema:
          type: string
      - description: 'The type of items which the IDs can be used for. Supported values are ''files'' and ''shortcuts''. Note that ''shortcuts'' are only supported in the `drive` ''space''. (Default: ''files'')'
        in: query
        name: type
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedIds'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /files/trash:
    delete:
      tags:
      - Files
      summary: Google Delete Files Trash
      description: Permanently deletes all of the user's trashed files.
      operationId: googleDriveFilesEmptytrash
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      parameters:
      - description: If set, empties the trash of the provided shared drive.
        in: query
        name: driveId
        schema:
          type: string
      - description: 'Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item will be placed under its owner''s root.'
        in: query
        name: enforceSingleParent
        schema:
          type: boolean
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /files/{fileId}:
    get:
      tags:
      - Files
      summary: Google Get Files Fileid
      description: ' Gets a file''s metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download & export files](/drive/api/guides/manage-downloads).'
      operationId: googleDriveFilesGet
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      parameters:
      - description: The ID of the file.
        in: path
        name: fileId
        required: true
        schema:
          type: string
      - description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
        in: query
        name: acknowledgeAbuse
        schema:
          type: boolean
      - description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
        in: query
        name: includeLabels
        schema:
          type: string
      - description: Specifies which additional view's permissions to include in the response. Only 'published' is supported.
        in: query
        name: includePermissionsForView
        schema:
          type: string
      - description: Whether the requesting application supports both My Drives and shared drives.
        in: query
        name: supportsAllDrives
        schema:
          type: boolean
      - description: 'Deprecated: Use `supportsAllDrives` instead.'
        in: query
        name: supportsTeamDrives
        schema:
          type: boolean
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      x-api-evangelist-certified: '2025-07-18'
      x-api-naftiko-published: '2025-07-18'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
    patch:
      tags:
      - Files
      summary: Google Patch Files Fileid
      description: ' Updates a file''s metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](/drive/api/guides/manage-uploads).'
      operationId: googleDriveFilesUpdate
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.scripts
        Oauth2c:
        - https://www.googleapis.com/auth/drive.scripts
      parameters:
      - description: The ID of the file.
        in: path
        name: fileId
        required: true
        schema:
          type: string
      - description: A comma-separated list of parent IDs to add.
        in: query
        name: addParents
        schema:
          type: string
      - description: 'Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.'
        in: query
        name: enforceSingleParent
        schema:
          type: boolean
      - description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
        in: query
        name: includeLabels
        schema:
          type: string
      - description: Specifies which additional view's permissions to include in the response. Only 'published' is supported.
        in: query
        name: includePermissionsForView
        schema:
          type: string
      - description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.
        in: query
        name: keepRevisionForever
        schema:
          type: boolean
      - description: A language hint for OCR processing during image import (ISO 639-1 code).
        in: query
        name: ocrLanguage
        schema:
          type: string
      - description: A comma-separated list of parent IDs to remove.
        in: query
        name: removeParents
        schema:
          type: string
      - description: Whether the requesting application supports both My Drives and shared drives.
        in: query
        name: supportsAllDrives
        schema:
          type: boolean
      - description: 'Deprecated: Use `supportsAllDrives` instead.'
        in: query
        name: supportsTeamDrives
        schema:
          type: boolean
      - description: Whether to use the uploaded content as indexable text.
        in: query
        name: useContentAsIndexableText
        schema:
          type: boolean
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/File'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
    delete:
      tags:
      - Files
      summary: Google Delete Files Fileid
      description: Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.
      operationId: googleDriveFilesDelete
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      parameters:
      - description: The ID of the file.
        in: path
        name: fileId
        required: true
        schema:
          type: string
      - description: 'Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item will be placed under its owner''s root.'
        in: query
        name: enforceSingleParent
        schema:
          type: boolean
      - description: Whether the requesting application supports both My Drives and shared drives.
        in: query
        name: supportsAllDrives
        schema:
          type: boolean
      - description: 'Deprecated: Use `supportsAllDrives` instead.'
        in: query
        name: supportsTeamDrives
        schema:
          type: boolean
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /files/{fileId}/copy:
    post:
      tags:
      - Files
      summary: Google Post Files Fileid Copy
      description: Creates a copy of a file and applies any requested updates with patch semantics.
      operationId: googleDriveFilesCopy
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      parameters:
      - description: The ID of the file.
        in: path
        name: fileId
        required: true
        schema:
          type: string
      - description: Deprecated. Copying files into multiple folders is no longer supported. Use shortcuts instead.
        in: query
        name: enforceSingleParent
        schema:
          type: boolean
      - description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
        in: query
        name: ignoreDefaultVisibility
        schema:
          type: boolean
      - description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
        in: query
        name: includeLabels
        schema:
          type: string
      - description: Specifies which additional view's permissions to include in the response. Only 'published' is supported.
        in: query
        name: includePermissionsForView
        schema:
          type: string
      - description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.
        in: query
        name: keepRevisionForever
        schema:
          type: boolean
      - description: A language hint for OCR processing during image import (ISO 639-1 code).
        in: query
        name: ocrLanguage
        schema:
          type: string
      - description: Whether the requesting application supports both My Drives and shared drives.
        in: query
        name: supportsAllDrives
        schema:
          type: boolean
      - description: 'Deprecated: Use `supportsAllDrives` instead.'
        in: query
        name: supportsTeamDrives
        schema:
          type: boolean
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/File'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /files/{fileId}/export:
    get:
      tags:
      - Files
      summary: Google Get Files Fileid Export
      description: Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.
      operationId: googleDriveFilesExport
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      parameters:
      - description: The ID of the file.
        in: path
        name: fileId
        required: true
        schema:
          type: string
      - description: Required. The MIME type of the format requested for this export.
        in: query
        name: mimeType
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /files/{fileId}/listLabels:
    get:
      tags:
      - Files
      summary: Google Get Files Fileid Listlabels
      description: Lists the labels on a file.
      operationId: googleDriveFilesListlabels
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      parameters:
      - description: The ID for the file.
        in: path
        name: fileId
        required: true
        schema:
          type: string
      - description: The maximum number of labels to return per page. When not set, defaults to 100.
        in: query
        name: maxResults
        schema:
          maximum: 100
          minimum: 1
          type: integer
      - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
        in: query
        name: pageToken
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelList'
      x-api-evangelist-certified: '2025-07-18'
      x-api-naftiko-published: '2025-07-18'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /files/{fileId}/modifyLabels:
    post:
      tags:
      - Files
      summary: Google Post Files Fileid Modifylabels
      description: Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.
      operationId: googleDriveFilesModifylabels
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      parameters:
      - description: The ID of the file to which the labels belong.
        in: path
        name: fileId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyLabelsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyLabelsResponse'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /files/{fileId}/watch:
    post:
      tags:
      - Files
      summary: Google Post Files Fileid Watch
      description: Subscribes to changes to a file.
      operationId: googleDriveFilesWatch
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      parameters:
      - description: The ID of the file.
        in: path
        name: fileId
        required: true
        schema:
          type: string
      - description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
        in: query
        name: acknowledgeAbuse
        schema:
          type: boolean
      - description: A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.
        in: query
        name: includeLabels
        schema:
          type: string
      - description: Specifies which additional view's permissions to include in the response. Only 'published' is supported.
        in: query
        name: includePermissionsForView
        schema:
          type: string
      - description: Whether the requesting application supports both My Drives and shared drives.
        in: query
        name: supportsAllDrives
        schema:
          type: boolean
      - description: 'Deprecated: Use `supportsAllDrives` instead.'
        in: query
        name: supportsTeamDrives
        schema:
          type: boolean
      - in: header
        name: Authorization
        schema:
          type: string
      - description: V1 error format.
        in: query
        name: $.xgafv
        schema:
          enum:
          - '1'
          - '2'
          type: string
      - description: OAuth access token.
        in: query
        name: access_token
        schema:
          type: string
      - description: Data format for response.
        in: query
        name: alt
        schema:
          enum:
          - json
          - media
          - proto
          type: string
      - description: JSONP
        in: query
        name: callback
        schema:
          type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        schema:
          type: string
      - description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        in: query
        name: key
        schema:
          type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        schema:
          type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        schema:
          type: boolean
      - description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        in: query
        name: quotaUser
        schema:
          type: string
      - description: Upload protocol for media (e.g. "raw", "multipart").
        in: query
        name: upload_protocol
        schema:
          type: string
      - description: Legacy upload protocol for media (e.g. "media", "multipart").
        in: query
        name: uploadType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
components:
  schemas:
    User:
      description: Information about a Drive user.
      properties:
        displayName:
          description: Output only. A plain text displayable name for this user.
          type: string
        emailAddress:
          description: Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.
          type: string
        kind:
          default: drive#user
          description: 'Output only. Identifies what kind of resource this is. Value: the fixed string `"drive#user"`.'
          type: string
        me:
          description: Output only. Whether this user is the requesting user.
          type: boolean
        permissionId:
          description: Output only. The user's ID as visible in Permission resources.
          type: string
        photoLink:
          description: Output only. A link to the user's profile photo, if available.
          type: string
      type: object
    LabelList:
      description: A list of labels applied to a file.
      properties:
        kind:
          description: This is always drive#labelList
          type: string
        labels:
          description: The list of labels.
          items:
            $ref: '#/components/schemas/Label'
          type: array
        nextPageToken:
          description: The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.
          type: string
      type: object
    ModifyLabelsResponse:
      description: Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.
      properties:
        kind:
          description: This is always drive#modifyLabelsResponse
          type: string
        modifiedLabels:
          description: The list of labels which were added or updated by the request.
          items:
            $ref: '#/components/schemas/Label'
          type: array
      type: object
    FileList:
      description: A list of files.
      properties:
        files:
          description: The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.
          items:
            $ref: '#/components/schemas/File'
          type: array
        incompleteSearch:
          description: Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the 'allDrives' corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as 'user' or 'drive'.
          type: boolean
        kind:
          default: drive#fileList
          description: 'Identifies what kind of resource this is. Value: the fixed string `"drive#fileList"`.'
          type: string
        nextPageToken:
          description: The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.
          type: string
      type: object
    ContentRestriction:
      description: A restriction for accessing the content of the file.
      properties:
        ownerRestricted:
          description: Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.
          type: boolean
        readOnly:
          description: Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.
          type: boolean
        reason:
          description: Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.
          type: string
        restrictingUser:
          $ref: '#/components/schemas/User'
          description: Output only. The user who set the content restriction. Only populated if `readOnly` is true.
        restrictionTime:
          description: The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.
          format: date-time
          type: string
        systemRestricted:
          description: Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.
          type: boolean
        type:
          description: Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.
          type: string
      type: object
    Label:
      description: Representation of label and label fields.
      properties:
        fields:
          additionalProperties:
            $ref: '#/components/schemas/LabelField'
          description: A map of the fields on the label, keyed by the field's ID.
          type: object
        id:
          description: The ID of the label.
          type: string
        kind:
          description: This is always drive#label
          type: string
        revisionId:
          description: The revision ID of the label.
          type: string
      type: object
    Permission:
      description: A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.
      properties:
        allowFileDiscovery:
          description: Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.
          type: boolean
        deleted:
          description: Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions.
          type: boolean
        displayName:
          description: 'Output only. The "pretty" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User''s full name, as defined for their Google account, such as "Joe Smith." * `group` - Name of the Google Group, such as "The Company Administrators." * `domain` - String domain name, such as "thecompany.com." * `anyone` - No `displayName` is present.'
          type: string
        domain:
          description: The domain to which this permission refers.
          type: string
        emailAddress:
          description: The email address of the user or group to which this permission refers.
          type: string
        expirationTime:
          description: 'The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future'
          format: date-time
          type: string
        id:
          description: Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in User resources as `permissionId`. IDs should be treated as opaque values.
          type: string
        kind:
          default: drive#permission
          description: 'Output only. Identifies what kind of resource this is. Value: the fixed string `"drive#permission"`.'
          type: string
        pendingOwner:
          description: Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.
          type: boolean
        permissionDetails:
          description: Output only. Details of whether the permissions on this shared drive item are inherited or directly on this item. This is an output-only field which is present only for shared drive items.
          items:
            properties:
              inherited:
                description: Output only. Whether this permission is inherited. This field is always populated. This is an output-only field.
                type: boolean
              inheritedFrom:
                description: Output only. The ID of the item from which this permission is inherited. This is an output-only field.
                type: string
              permissionType:
                description: 'Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`'
                type: string
              role:
                description: 'Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader`'
                type: string
            type: object
          readOnly: true
          type: array
        photoLink:
          description: Output only. A link to the user's profile photo, if available.
          type: string
        role:
          description: 'The role granted by this permission. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader`'
          type: string
        teamDrivePermissionDetails:
          deprecated: true
          description: 'Output only. Deprecated: Output only. Use `permissionDetails` instead.'
          items:
            properties:
              inherited:
                deprecated: true
                description: 'Deprecated: Output only. Use `permissionDetails/inherited` instead.'
                type: boolean
              inheritedFrom:
                deprecated: true
                description: 'Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.'
                type: string
              role:
                deprecated: true
                description: 'Deprecated: Output only. Use `permissionDetails/role` instead.'
                type: string
              teamDrivePermissionType:
                deprecated: true
                description: 'Deprecated: Output only. Use `permissionDetails/permissionType` instead.'
                type: string
            type: object
          readOnly: true
          type: array
        type:
          description: 'The type of the grantee. Valid values are: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. When `type` is `domain`, you must provide a `domain`. There isn''t extra information required for an `anyone` type.'
          type: string
        view:
          description: Indicates the view for this permission. Only populated for permissions that belong to a view. 'published' is the only supported value.
          type: string
      type: object
    LabelFieldModification:
      description: A modification to a label's field.
      properties:
        fieldId:
          description: The ID of the field to be modified.
          type: string
        kind:
          description: This is always drive#labelFieldModification.
          type: string
        setDateValues:
          description: 'Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.'
          items:
            format: date
            type: string
          type: array
        setIntegerValues:
          description: Replaces the value of an `integer` field with these new values.
          items:
            format: int64
            type: string
          type: array
        setSelectionValues:
          description: Replaces a `selection` field with these new values.
          items:
            type: string
          type: array
        setTextValues:
          description: Sets the value of a `text` field.
          items:
            type: string
          type: array
        setUserValues:
          description: Replaces a `user` field with these new values. The values must be valid email addresses.
          items:
            type: string
          type: array
        unsetValues:
          description: Unsets the values for this field.
          type: boolean
      type: object
    LabelField:
      description: Representation of field, which is a typed key-value pair.
      properties:
        dateString:
          description: 'Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.'
          items:
            format: date
            type: string
          type: array
        id:
          description: The identifier of this label field.
          type: string
        integer:
          description: Only present if `valueType` is `integer`.
          items:
            format: int64
            type: string
          type: array
        kind:
          description: This is always drive#labelField.
          type: string
        selection:
          description: Only present if `valueType` is `selection`
          items:
            type: string
          type: array
        text:
          description: Only present if `valueType` is `text`.
          items:
            type: string
          type: array
        user:
          description: Only present if `valueType` is `user`.
          items:
            $ref: '#/components/schemas/User'
          type: array
        valueType:
          description: 'The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`'
          type: string
      type: object
    GeneratedIds:
      description: A list of generated file IDs which can be provided in create requests.
      properties:
        ids:
          description: The IDs generated for the requesting user in the specified space.
          items:
            type: string
          type: array
        kind:
          default: drive#generatedIds
          description: 'Identifies what kind of resource this is. Value: the fixed string `"drive#generatedIds"`.'
          type: string
        space:
          description: The type of file that can be created with these IDs.
          type: string
      type: object
    Channel:
      description: A notification channel used to watch for resource changes.
      properties:
        address:
          description: The address where notifications are delivered for this channel.
          type: string
        expiration:
          description: Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.
          format: int64
          type: string
        id:
          description: A UUID or similar unique string that identifies this channel.
          type: string
        kind:
          default: api#channel
          description: Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.
          type: string
        params:
          additionalProperties:
            type: string
          description: Additional parameters controlling delivery channel behavior. Optional.
          type: object
        payload:
          description: A Boolean value to indicate whether payload is wanted. Optional.
          type: boolean
        resourceId:
          description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
          type: string
        resourceUri:
          description: A version-specific identifier for the watched resource.
          type: string
        token:
          description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
          type: string
        type:
          description: The type of delivery mechanism used for this channel. Valid values are "web_hook" or "webhook".
          type: string
      type: object
    File:
      description: The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.
      properties:
        appProperties:
          additionalProperties:
            type: string
          description: 'A collection of arbitrary key-value pairs which are private to the requesting app.

            Entries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.'
          type: object
        capabilities:
          description: Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.
          properties:
            canAcceptOwnership:
              description: Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.
              type: boolean
            canAddChildren:
              description: Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.
              type: boolean
            canAddFolderFromAnotherDrive:
              description: Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives.
              type: boolean
            canAddMyDriveParent:
              description: Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.
              type: boolean
            canChangeCopyRequiresWriterPermission:
              description: Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.
              type: boolean
            canChangeSecurityUpdateEnabled:
              description: Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.
              type: boolean
            canChangeViewersCanCopyContent:
              deprecated: true
              description: 'Deprecated: Output only.'
              type: boolean
            canComment:
              description: Output only. Whether the current user can comment on this file.
              type: boolean
            canCopy:
              description: Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.
              type: boolean
            canDelete:
              description: Output only. Whether the current user can delete this file.
              type: boolean
            canDeleteChildren:
              description: Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.
              type: boolean
            canDownload:
              description: Output only. Whether the current user can download this file.
              type: boolean
            canEdit:
              description: Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.
              type: boolean
            canListChildren:
              description: Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.
              type: boolean
            canModifyContent:
              description: Output only. Whether the current user can modify the content of this file.
              type: boolean
            canModifyContentRestriction:
              deprecated: true
              description: 'Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.'
              type: boolean
            canModifyEditorContentRestriction:
              description: Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.
              type: boolean
            canModifyLabels:
              description: Output only. Whether the current user can modify the labels on the file.
              type: boolean
            canModifyOwnerContentRestriction:
              description: Output only. Whether the current user can add or modify content restrictions which are owner restricted.
              type: boolean
            canMoveChildrenOutOfDrive:
              description: Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.
              type: boolean
            canMoveChildrenOutOfTeamDrive:
              deprecated: true
              description: 'Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead.'
              type: boolean
            canMoveChildrenWithinDrive:
              description: Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.
              type: boolean
            canMoveChildrenWithinTeamDrive:
              deprecated: true
              description: 'Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.'
              type: boolean
            canMoveItemIntoTeamDrive:
              deprecated: true
              description: 'Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.'
              type: boolean
            canMoveItemOutOfDrive:
              description: Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.
              type: boolean
            canMoveItemOutOfTeamDrive:
              deprecated: true
              description: 'Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.'
              type: boolean
            canMoveItemWithinDrive:
              description: Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.
              type: boolean
            canMoveItemWithinTeamDrive:
              deprecated: true
              description: 'Deprecated: Output only. Use `canMoveItemWithinDrive` instead.'
              type: boolean
            canMoveTeamDriveItem:
              deprecated: true
              description: 'Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.'
              type: boolean
            canReadDrive:
              description: Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.
              type: boolean
            canReadLabels:
              description: Output only. Whether the current user can read the labels on the file.
              type: boolean
            canReadRevisions:
              description: Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.
              type: boolean
            canReadTeamDrive:
              deprecated: true
              description: 'Deprecated: Output only. Use `canReadDrive` instead.'
              type: boolean
            canRemoveChildren:
              description: Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.
              type: boolean
            canRemoveContentRestriction:
              description: Output only. Whether there is a content restriction on the file that can be removed by the current user.
              type: boolean
            canRemoveMyDriveParent:
              description: Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.
              type: boolean
            canRename:
              description: Output only. Whether the current user can rename this file.
              type: boolean
            canShare:
              description: Output only. Whether the current user can modify the sharing settings for this file.
              type: boolean
            canTrash:
              description: Output only. Whether the current user can move this file to trash.
              type: boolean
            canTrashChildren:
              description: Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.
              type: boolean
            canUntrash:
              description: Output only. Whether the current user can restore this file from trash.
              type: boolean
          type: object
        contentHints:
          description: Additional information about the content of the file. These fields are never populated in responses.
          properties:
            indexableText:
              description: Text to be indexed for the file to improve fullText queries. This is limited to 128KB in length and may contain HTML elements.
              type: string
            thumbnail:
              description: A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.
              properties:
                image:
                  description: The thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5).
                  format: byte
                  type: string
                mimeType:
                  description: The MIME type of the thumbnail.
                  type: string
              type: object
          type: object
        contentRestrictions:
          description: Restrictions for accessing the content of the file. Only populated if such a restriction exists.
          items:
            $ref: '#/components/schemas/ContentRestriction'
          type: array
        copyRequiresWriterPermission:
          description: Whether the options to copy, print, or download this file, should be disabled for readers and commenters.
          type: boolean
        createdTime:
          description: The time at which the file was created (RFC 3339 date-time).
          format: date-time
          type: string
        description:
          description: A short description of the file.
          type: string
        driveId:
          description: Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.
          type: string
        explicitlyTrashed:
          description: Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.
          type: boolean
        exportLinks:
          additionalProperties:
            type: string
          description: Output only. Links for exporting Docs Editors files to specific formats.
          readOnly: true
          type: object
        fileExtension:
          description: Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive.
          type: string
        folderColorRgb:
          description: The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the About resource. If an unsupported color is specified, the closest color in the palette is used instead.
          type: string
        fullFileExtension:
          description: Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as "tar.gz". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it is not cleared if the new name does not contain a valid extension.
          type: string
        hasAugmentedPermissions:
          description: Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.
          type: boolean
        hasThumbnail:
          description: Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.
          type: boolean
        headRevisionId:
          description: Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive.
          type: string
        iconLink:
          description: Output only. A static, unauthenticated link to the file's icon.
          type: string
        id:
          description: The ID of the file.
          type: string
        imageMediaMetadata:
          description: Output only. Additional metadata about image media, if available.
          properties:
            aperture:
              description: Output only. The aperture used to create the photo (f-number).
              format: float
              type: number
            cameraMake:
              description: Output only. The make of the camera used to create the photo.
              type: string
            cameraModel:
              description: Output only. The model of the camera used to create the photo.
              type: string
            colorSpace:
              description: Output only. The color space of the photo.
              type: string
            exposureBias:
              description: Output only. The exposure bias of the photo (APEX value).
              format: float
              type: number
            exposureMode:
              description: Output only. The exposure mode used to create the photo.
              type: string
            exposureTime:
              description: Output only. The length of the exposure, in seconds.
              format: float
              type: number
            flashUsed:
              description: Output only. Whether a flash was used to create the photo.
              type: boolean
            focalLength:
              description: Output only. The focal length used to create the photo, in millimeters.
              format: float
              type: number
            height:
              description: Output only. The height of the image in pixels.
              format: int32
              type: integer
            isoSpeed:
              description: Output only. The ISO speed used to create the photo.
              format: int32
              type: integer
            lens:
              description: Output only. The lens used to create the photo.
              type: string
            location:
              description: Output only. Geographic location information stored in the image.
              properties:
                altitude:
                  description: Output only. The altitude stored in the image.
                  format: double
                  type: number
                latitude:
                  description: Output only. The latitude stored in the image.
                  format: double
                  type: number
                longitude:
                  description: Output only. The longitude stored in the image.
                  format: double
                  type: number
              type: object
            maxApertureValue:
              description: Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).
              format: float
              type: number
            meteringMode:
              description: Output only. The metering mode used to create the photo.
              type: string
            rotation:
              description: Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.
              format: int32
              type: integer
            sensor:
              description: Output only. The type of sensor used to create the photo.
              type: string
            subjectDistance:
              description: Output only. The distance to the subject of the photo, in meters.
              format: int32
              type: integer
            time:
              description: Output only. The date and time the photo was taken (EXIF DateTime).
              type: string
            whiteBalance:
              description: Output only. The white balance mode used to create the photo.
              type: string
            width:
              description: Output only. The width of the image in pixels.
              format: int32
              type: integer
          type: object
        isAppAuthorized:
          description: Output only. Whether the file was created or opened by the requesting app.
          type: boolean
        kind:
          default: drive#file
          description: 'Output only. Identifies what kind of resource this is. Value: the fixed string `"drive#file"`.'
          type: string
        labelInfo:
          description: Output only. An overview of the labels on the file.
          properties:
            labels:
              description: Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.
              items:
                $ref: '#/components/schemas/Label'
              type: array
          type: object
        lastModifyingUser:
          $ref: '#/components/schemas/User'
          description: Output only. The last user to modify the file.
        linkShareMetadata:
          description: Contains details about the link URLs that clients are using to refer to this item.
          properties:
            securityUpdateEligible:
              description: Output only. Whether the file is eligible for security update.
              type: boolean
            securityUpdateEnabled:
              description: Output only. Whether the security update is enabled for this file.
              type: boolean
          type: object
        md5Checksum:
          description: Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.
          type: string
        mimeType:
          description: The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the About resource.
          type: string
        modifiedByMe:
          description: Output only. Whether the file has been modified by this user.
          type: boolean
        modifiedByMeTime:
          description: The last time the file was modified by the user (RFC 3339 date-time).
          format: date-time
          type: string
        modifiedTime:
          description: he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user.
          format: date-time
          type: string
        name:
          description: The name of the file. This is not necessarily unique within a folder. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the name is constant.
          type: string
        originalFilename:
          description: The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive.
          type: string
        ownedByMe:
          description: Output only. Whether the user owns the file. Not populated for items in shared drives.
          type: boolean
        owners:
          description: Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.
          items:
            $ref: '#/components/schemas/User'
          type: array
        parents:
          description: The IDs of the parent folders which contain the file. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parents of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.
          items:
            type: string
          type: array
        permissionIds:
          description: Output only. List of permission IDs for users with access to this file.
          items:
            type: string
          type: array
        permissions:
          description: Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.
          items:
            $ref: '#/components/schemas/Permission'
          type: array
        properties:
          additionalProperties:
            type: string
          description: 'A collection of arbitrary key-value pairs which are visible to all apps.

            Entries with null values are cleared in update and copy requests.'
          type: object
        quotaBytesUsed:
          description: Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled.
          format: int64
          type: string
        resourceKey:
          description: Output only. A key needed to access the item via a shared link.
          type: string
        sha1Checksum:
          description: Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.
          type: string
        sha256Checksum:
          description: Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.
          type: string
        shared:
          description: Output only. Whether the file has been shared. Not populated for items in shared drives.
          type: boolean
        sharedWithMeTime:
          description: The time at which the file was shared with the user, if applicable (RFC 3339 date-time).
          format: date-time
          type: string
        sharingUser:
          $ref: '#/components/schemas/User'
          description: Output only. The user who shared the file with the requesting user, if applicable.
        shortcutDetails:
          description: Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`.
          properties:
            targetId:
              description: The ID of the file that this shortcut points to.
              type: string
            targetMimeType:
              description: Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.
              type: string
            targetResourceKey:
              description: Output only. The ResourceKey for the target file.
              type: string
          type: object
        size:
          description: Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.
          format: int64
          type: string
        spaces:
          description: Output only. The list of spaces which contain the file. The currently supported values are 'drive', 'appDataFolder' and 'photos'.
          items:
            type: string
          type: array
        starred:
          description: Whether the user has starred the file.
          type: boolean
        teamDriveId:
          deprecated: true
          description: 'Deprecated: Output only. Use `driveId` instead.'
          type: string
        thumbnailLink:
          description: Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.
          type: string
        thumbnailVersion:
          description: Output only. The thumbnail version for use in thumbnail cache invalidation.
          format: int64
          type: string
        trashed:
          description: Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, and other users cannot see files in the owner's trash.
          type: boolean
        trashedTime:
          description: The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.
          format: date-time
          type: string
        trashingUser:
          $ref: '#/components/schemas/User'
          description: Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.
        version:
[...]
