openapi: 3.2.0
info:
  title: Google Sheets Developer API
  description: The Google Sheets API is a RESTful interface that lets you read and modify a spreadsheet's data..
  version: 1.0.0
servers:
- url: https://sheets.googleapis.com
  description: Google Sheets API Server
security:
- oauth2Auth: []
tags:
- name: Developer
  description: Operations related to Developer
paths:
  /v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}:
    get:
      tags:
      - Developer
      summary: Google Get Developer Metadata
      description: Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId.
      security:
      - oauth2Auth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      - name: metadataId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{metadataId}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsDeveloperMetadataGetResponse'
              examples:
                SpreadsheetsDeveloperMetadataGetResponseExample:
                  $ref: '#/components/examples/SpreadsheetsDeveloperMetadataGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsDeveloperMetadataGetResponseExample
  /v4/spreadsheets/{spreadsheetId}/developerMetadata:search:
    post:
      tags:
      - Developer
      summary: Google Search Developer Metadata
      description: Returns all developer metadata matching the specified DataFilter. If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsDeveloperMetadatasearchPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsDeveloperMetadatasearchPostResponse'
              examples:
                SpreadsheetsDeveloperMetadatasearchPostResponseExample:
                  $ref: '#/components/examples/SpreadsheetsDeveloperMetadatasearchPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsDeveloperMetadatasearchPostResponseExample
components:
  schemas:
    SpreadsheetsDeveloperMetadatasearchPostResponse:
      description: SpreadsheetsDeveloperMetadatasearchPostResponse schema
      type: object
      properties:
        matchedDeveloperMetadata:
          type: array
          items:
            type: object
            properties:
              dataFilters:
                type: array
                items:
                  type: object
                  properties:
                    a1Range:
                      type: string
                    developerMetadataLookup:
                      type: object
                      properties:
                        locationMatchingStrategy:
                          type: string
                        locationType:
                          type: string
                        metadataId:
                          type: integer
                        metadataKey:
                          type: string
                        metadataLocation:
                          type: object
                          properties:
                            dimensionRange:
                              type: object
                              properties:
                                dimension:
                                  type: string
                                endIndex:
                                  type: integer
                                sheetId:
                                  type: integer
                                startIndex:
                                  type: integer
                            locationType:
                              type: string
                            sheetId:
                              type: integer
                            spreadsheet:
                              type: boolean
                        metadataValue:
                          type: string
                        visibility:
                          type: string
                    gridRange:
                      type: object
                      properties:
                        endColumnIndex:
                          type: integer
                        endRowIndex:
                          type: integer
                        sheetId:
                          type: integer
                        startColumnIndex:
                          type: integer
                        startRowIndex:
                          type: integer
              developerMetadata:
                type: object
                properties:
                  location:
                    type: object
                    properties:
                      dimensionRange:
                        type: object
                        properties:
                          dimension:
                            type: string
                          endIndex:
                            type: integer
                          sheetId:
                            type: integer
                          startIndex:
                            type: integer
                      locationType:
                        type: string
                      sheetId:
                        type: integer
                      spreadsheet:
                        type: boolean
                  metadataId:
                    type: integer
                  metadataKey:
                    type: string
                  metadataValue:
                    type: string
                  visibility:
                    type: string
    SpreadsheetsDeveloperMetadataGetResponse:
      description: SpreadsheetsDeveloperMetadataGetResponse schema
      type: object
      properties:
        location:
          $ref: '#/components/schemas/SpreadsheetsDeveloperMetadataGetResponseLocation'
        metadataId:
          type: integer
        metadataKey:
          type: string
        metadataValue:
          type: string
        visibility:
          type: string
    SpreadsheetsDeveloperMetadataGetResponseLocationDimensionRange:
      description: SpreadsheetsDeveloperMetadataGetResponseLocationDimensionRange schema
      type: object
      properties:
        dimension:
          type: string
        endIndex:
          type: integer
        sheetId:
          type: integer
        startIndex:
          type: integer
    SpreadsheetsDeveloperMetadatasearchPostRequest:
      description: SpreadsheetsDeveloperMetadatasearchPostRequest schema
      type: object
      example:
        dataFilters:
        - a1Range: aute
          developerMetadataLookup:
            locationMatchingStrategy: INTERSECTING_LOCATION
            locationType: DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
            metadataId: -761178
            metadataKey: consequat Duis
            metadataLocation:
              dimensionRange:
                dimension: COLUMNS
                endIndex: -22955243
                sheetId: 41865153
                startIndex: -49712859
              locationType: SHEET
              sheetId: 77477058
              spreadsheet: true
            metadataValue: tempor
            visibility: DOCUMENT
          gridRange:
            endColumnIndex: -69789235
            endRowIndex: -98601086
            sheetId: 32219017
            startColumnIndex: -61197874
            startRowIndex: -91350843
        - a1Range: Ut cu
          developerMetadataLookup:
            locationMatchingStrategy: INTERSECTING_LOCATION
            locationType: SHEET
            metadataId: -32999997
            metadataKey: commodo sit esse consequat
            metadataLocation:
              dimensionRange:
                dimension: ROWS
                endIndex: 1730530
                sheetId: -56140506
                startIndex: 82831554
              locationType: SPREADSHEET
              sheetId: 58086209
              spreadsheet: false
            metadataValue: in pariatur in Ut
            visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
          gridRange:
            endColumnIndex: 81731062
            endRowIndex: 51216059
            sheetId: -87090690
            startColumnIndex: -26697783
            startRowIndex: -36015480
    SpreadsheetsDeveloperMetadataGetResponseLocation:
      description: SpreadsheetsDeveloperMetadataGetResponseLocation schema
      type: object
      properties:
        dimensionRange:
          $ref: '#/components/schemas/SpreadsheetsDeveloperMetadataGetResponseLocationDimensionRange'
        locationType:
          type: string
        sheetId:
          type: integer
        spreadsheet:
          type: boolean
  examples:
    SpreadsheetsDeveloperMetadatasearchPostResponseExample:
      summary: Successful 200 response
      value:
        matchedDeveloperMetadata:
        - dataFilters:
          - a1Range: ullam
            developerMetadataLookup:
              locationMatchingStrategy: EXACT_LOCATION
              locationType: SHEET
              metadataId: -96703507
              metadataKey: cupidatat irure dolor eu
              metadataLocation:
                dimensionRange:
                  dimension: COLUMNS
                  endIndex: -47261175
                  sheetId: 3032031
                  startIndex: -13916935
                locationType: SHEET
                sheetId: 34119692
                spreadsheet: true
              metadataValue: commodo
              visibility: DOCUMENT
            gridRange:
              endColumnIndex: -92591699
              endRowIndex: -77367572
              sheetId: 21036335
              startColumnIndex: -90121416
              startRowIndex: -28441128
          - a1Range: eu dolor minim Lorem
            developerMetadataLookup:
              locationMatchingStrategy: EXACT_LOCATION
              locationType: DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
              metadataId: -74716743
              metadataKey: aliqua est anim nisi
              metadataLocation:
                dimensionRange:
                  dimension: DIMENSION_UNSPECIFIED
                  endIndex: 71729621
                  sheetId: 25577647
                  startIndex: 88154583
                locationType: DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
                sheetId: 75611815
                spreadsheet: false
              metadataValue: magna reprehenderit in minim
              visibility: PROJECT
            gridRange:
              endColumnIndex: -84187908
              endRowIndex: -74735246
              sheetId: 96622353
              startColumnIndex: -25608378
              startRowIndex: -22957175
          developerMetadata:
            location:
              dimensionRange:
                dimension: DIMENSION_UNSPECIFIED
                endIndex: -3673940
                sheetId: -65524837
                startIndex: -54517761
              locationType: ROW
              sheetId: -56245453
              spreadsheet: false
            metadataId: 34322524
            metadataKey: laborum veniam fugiat
            metadataValue: eiusmod qui Lorem est
            visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
        - dataFilters:
          - a1Range: dolore
            developerMetadataLookup:
              locationMatchingStrategy: EXACT_LOCATION
              locationType: DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
              metadataId: -40811642
              metadataKey: adipisicing laboris ut velit
              metadataLocation:
                dimensionRange:
                  dimension: ROWS
                  endIndex: -53824975
                  sheetId: -93273913
                  startIndex: 86130672
                locationType: ROW
                sheetId: 52856889
                spreadsheet: true
              metadataValue: aliqua et aliquip occaecat aute
              visibility: PROJECT
            gridRange:
              endColumnIndex: -73440610
              endRowIndex: 28308616
              sheetId: 37046200
              startColumnIndex: -5275558
              startRowIndex: -89666878
          - a1Range: officia non
            developerMetadataLookup:
              locationMatchingStrategy: INTERSECTING_LOCATION
              locationType: ROW
              metadataId: 14514280
              metadataKey: ni
              metadataLocation:
                dimensionRange:
                  dimension: DIMENSION_UNSPECIFIED
                  endIndex: 90859887
                  sheetId: 24355574
                  startIndex: -70400658
                locationType: ROW
                sheetId: 8907501
                spreadsheet: true
              metadataValue: ut aute dolore
              visibility: DOCUMENT
            gridRange:
              endColumnIndex: -61886577
              endRowIndex: -27471726
              sheetId: 28840797
              startColumnIndex: 13238176
              startRowIndex: -28396473
          developerMetadata:
            location:
              dimensionRange:
                dimension: ROWS
                endIndex: 76653041
                sheetId: -21267874
                startIndex: -66439347
              locationType: SHEET
              sheetId: 21282299
              spreadsheet: true
            metadataId: 8593114
            metadataKey: sunt velit
            metadataValue: et
            visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
    SpreadsheetsDeveloperMetadataGetResponseExample:
      summary: Successful 200 response
      value:
        location:
          dimensionRange:
            dimension: ROWS
            endIndex: -94618933
            sheetId: 54017992
            startIndex: -52191558
          locationType: SHEET
          sheetId: 33310290
          spreadsheet: false
        metadataId: -42137085
        metadataKey: proident ex
        metadataValue: Lorem magna minim sunt
        visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
