openapi: 3.2.0
info:
  title: Google Gmail Obliterate API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Obliterate
  description: Operations related to Obliterate
paths:
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate:
    post:
      tags:
      - Obliterate
      summary: Google Obliterate CSE Keypairs
      description: Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: keyPairId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseKeypairsPostRequest2'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
components:
  schemas:
    SettingsCseKeypairsPostRequest2:
      description: SettingsCseKeypairsPostRequest2 schema
      type: object
      example: {}
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
