openapi: 3.1.0
info:
  title: Google Books About Disables API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Disables
  description: Operations related to Disables
paths:
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable:
    post:
      tags:
      - Disables
      summary: Google Disable CSE Keypairs
      description: Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: keyPairId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseKeypairsPostRequest1'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseKeypairsPostResponse1'
              examples:
                SettingsCseKeypairsPostResponse1Example:
                  $ref: '#/components/examples/SettingsCseKeypairsPostResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SettingsCseKeypairsPostResponse1Example
components:
  schemas:
    SettingsCseKeypairsPostResponse1:
      description: SettingsCseKeypairsPostResponse1 schema
      type: object
      properties:
        keyPairId:
          type: string
        pkcs7:
          type: string
        pem:
          type: string
        subjectEmailAddresses:
          type: array
          items:
            type: string
        enablementState:
          type: string
        disableTime:
          type: string
        privateKeyMetadata:
          type: array
          items:
            type: object
            properties:
              privateKeyMetadataId:
                type: string
              kaclsKeyMetadata:
                type: object
                properties:
                  kaclsUri:
                    type: string
                  kaclsData:
                    type: string
              hardwareKeyMetadata:
                type: object
                properties:
                  description:
                    type: string
    SettingsCseKeypairsPostRequest1:
      description: SettingsCseKeypairsPostRequest1 schema
      type: object
      example: {}
  examples:
    SettingsCseKeypairsPostResponse1Example:
      summary: Successful 200 response
      value:
        keyPairId: Lorem eiusmod
        pkcs7: ex incididunt
        pem: irure quis
        subjectEmailAddresses:
        - Excepteur Ut commodo aliquip
        - eu Lorem nulla
        enablementState: disabled
        disableTime: cill
        privateKeyMetadata:
        - privateKeyMetadataId: proident fugiat eu dolore
          kaclsKeyMetadata:
            kaclsUri: voluptate ipsum ad
            kaclsData: Duis laborum aute
          hardwareKeyMetadata:
            description: mollit la
        - privateKeyMetadataId: nulla ullamco
          kaclsKeyMetadata:
            kaclsUri: minim in
            kaclsData: sint eiusmod
          hardwareKeyMetadata:
            description: ut
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
