openapi: 3.1.0
info:
  title: Google Books About Info API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Info
  description: Operations related to Info
paths:
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}:
    get:
      tags:
      - Info
      summary: Google Get Send As SMIME Info
      description: Gets the specified S/MIME config for the specified send-as alias.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: sendAsEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSendAsSmimeInfoGetResponse'
              examples:
                SettingsSendAsSmimeInfoGetResponseExample:
                  $ref: '#/components/examples/SettingsSendAsSmimeInfoGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SettingsSendAsSmimeInfoGetResponseExample
    delete:
      tags:
      - Info
      summary: Google Delete Send As SMIME INfo
      description: Deletes the specified S/MIME config for the specified send-as alias.
      parameters:
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: sendAsEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo:
    get:
      tags:
      - Info
      summary: Google List SMIME Info
      description: Lists S/MIME configs for the specified send-as alias.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: sendAsEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSendAsSmimeInfoGetResponse1'
              examples:
                SettingsSendAsSmimeInfoGetResponse1Example:
                  $ref: '#/components/examples/SettingsSendAsSmimeInfoGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SettingsSendAsSmimeInfoGetResponse1Example
    post:
      tags:
      - Info
      summary: Google Insert SMIME Info
      description: Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: sendAsEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsSendAsSmimeInfoPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSendAsSmimeInfoPostResponse'
              examples:
                SettingsSendAsSmimeInfoPostResponseExample:
                  $ref: '#/components/examples/SettingsSendAsSmimeInfoPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SettingsSendAsSmimeInfoPostResponseExample
components:
  schemas:
    SettingsSendAsSmimeInfoPostResponse:
      description: SettingsSendAsSmimeInfoPostResponse schema
      type: object
      properties:
        id:
          type: string
        issuerCn:
          type: string
        isDefault:
          type: boolean
        expiration:
          type: string
        pem:
          type: string
        pkcs12:
          type: string
        encryptedKeyPassword:
          type: string
    SettingsSendAsSmimeInfoGetResponse1:
      description: SettingsSendAsSmimeInfoGetResponse1 schema
      type: object
      properties:
        smimeInfo:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              issuerCn:
                type: string
              isDefault:
                type: boolean
              expiration:
                type: string
              pem:
                type: string
              pkcs12:
                type: string
              encryptedKeyPassword:
                type: string
    SettingsSendAsSmimeInfoGetResponse:
      description: SettingsSendAsSmimeInfoGetResponse schema
      type: object
      properties:
        id:
          type: string
        issuerCn:
          type: string
        isDefault:
          type: boolean
        expiration:
          type: string
        pem:
          type: string
        pkcs12:
          type: string
        encryptedKeyPassword:
          type: string
    SettingsSendAsSmimeInfoPostRequest:
      description: SettingsSendAsSmimeInfoPostRequest schema
      type: object
      example:
        id: id
        issuerCn: ipsum qui s
        isDefault: false
        expiration: dolore magna
        pem: 'cillum labore '
        pkcs12: in aute et
        encryptedKeyPassword: cillum ut
  examples:
    SettingsSendAsSmimeInfoGetResponseExample:
      summary: Successful 200 response
      value:
        id: id
        issuerCn: ipsum qui s
        isDefault: false
        expiration: dolore magna
        pem: 'cillum labore '
        pkcs12: in aute et
        encryptedKeyPassword: cillum ut
    SettingsSendAsSmimeInfoPostResponseExample:
      summary: Successful 200 response
      value:
        id: id
        issuerCn: ipsum qui s
        isDefault: false
        expiration: dolore magna
        pem: 'cillum labore '
        pkcs12: in aute et
        encryptedKeyPassword: cillum ut
    SettingsSendAsSmimeInfoGetResponse1Example:
      summary: Successful 200 response
      value:
        smimeInfo:
        - id: Lorem culpa eiusmod
          issuerCn: dolore eiusmod laborum
          isDefault: false
          expiration: eiusmod incidid
          pem: minim voluptate non
          pkcs12: et Duis
          encryptedKeyPassword: tempor proiden
        - id: dolore
          issuerCn: aliqua velit qui
          isDefault: false
          expiration: occaeca
          pem: eu minim consequat sunt
          pkcs12: sunt anim ipsum nulla
          encryptedKeyPassword: laboris ex sint
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
