openapi: 3.1.0
info:
  title: Google Books About Pop API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Pop
  description: Operations related to Pop
paths:
  /gmail/v1/users/{userId}/settings/pop:
    get:
      tags:
      - Pop
      summary: Google Get POP Settings
      description: Gets POP settings.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{userId}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsPopGetResponse'
              examples:
                UsersSettingsPopGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsPopGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsPopGetResponseExample
    put:
      tags:
      - Pop
      summary: Google Update POP Settings
      description: Updates POP settings.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsPopPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsPopPutResponse'
              examples:
                UsersSettingsPopPutResponseExample:
                  $ref: '#/components/examples/UsersSettingsPopPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsPopPutResponseExample
components:
  schemas:
    UsersSettingsPopPutResponse:
      description: UsersSettingsPopPutResponse schema
      type: object
      properties:
        accessWindow:
          type: string
        disposition:
          type: string
    UsersSettingsPopGetResponse:
      description: UsersSettingsPopGetResponse schema
      type: object
      properties:
        accessWindow:
          type: string
        disposition:
          type: string
    UsersSettingsPopPutRequest:
      description: UsersSettingsPopPutRequest schema
      type: object
      example:
        accessWindow: fromNowOn
        disposition: dispositionUnspecified
  examples:
    UsersSettingsPopPutResponseExample:
      summary: Successful 200 response
      value:
        accessWindow: fromNowOn
        disposition: dispositionUnspecified
    UsersSettingsPopGetResponseExample:
      summary: Successful 200 response
      value:
        accessWindow: fromNowOn
        disposition: dispositionUnspecified
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
