openapi: 3.2.0
info:
  title: Google Channels API
  version: '1.0'
  description: 'Operations tagged Channels across 2 of this provider''s published API definitions: google-calendar-api-openapi.yml, google-drive-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://www.googleapis.com/calendar/v3
  description: Google Calendar API Server
- url: https://www.googleapis.com/drive/v3
  description: Google Drive API Server
tags:
- name: Channels
paths:
  /channels/stop:
    post:
      tags:
      - Channels
      summary: Google Stop Calendar Channel
      description: Stop watching resources through this channel
      operationId: googleStopcalendarchannel
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelsStopPostRequest'
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
    servers:
    - url: https://www.googleapis.com/calendar/v3
      description: Google Calendar API Server
components:
  schemas:
    ChannelsStopPostRequest:
      description: ChannelsStopPostRequest schema
      type: object
      example:
        address: incididunt sed consequat
        expiration: velit ad aliq
        id: velit eiusmod
        kind: api#channel
        params:
          reprehenderit5c: non
          sint_b: cupidatat do
        payload: false
        resourceId: aute
        resourceUri: fugiat consequat
        token: ullamco officia in
        type: ex eiusmod adipisicing mollit
    Channel:
      description: A notification channel used to watch for resource changes.
      properties:
        address:
          description: The address where notifications are delivered for this channel.
          type: string
        expiration:
          description: Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.
          format: int64
          type: string
        id:
          description: A UUID or similar unique string that identifies this channel.
          type: string
        kind:
          default: api#channel
          description: Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.
          type: string
        params:
          additionalProperties:
            type: string
          description: Additional parameters controlling delivery channel behavior. Optional.
          type: object
        payload:
          description: A Boolean value to indicate whether payload is wanted. Optional.
          type: boolean
        resourceId:
          description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
          type: string
        resourceUri:
          description: A version-specific identifier for the watched resource.
          type: string
        token:
          description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
          type: string
        type:
          description: The type of delivery mechanism used for this channel. Valid values are "web_hook" or "webhook".
          type: string
      type: object
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/drive: See, edit, create, and delete all of your Google Drive files
            https://www.googleapis.com/auth/drive.appdata: See, create, and delete its own configuration data in your Google Drive
            https://www.googleapis.com/auth/drive.apps.readonly: View your Google Drive apps
            https://www.googleapis.com/auth/drive.file: See, edit, create, and delete only the specific Google Drive files you use with this app
            https://www.googleapis.com/auth/drive.metadata: View and manage metadata of files in your Google Drive
            https://www.googleapis.com/auth/drive.metadata.readonly: See information about your Google Drive files
            https://www.googleapis.com/auth/drive.photos.readonly: View the photos, videos and albums in your Google Photos
            https://www.googleapis.com/auth/drive.readonly: See and download all your Google Drive files
            https://www.googleapis.com/auth/drive.scripts: Modify your Google Apps Script scripts' behavior
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/drive: See, edit, create, and delete all of your Google Drive files
            https://www.googleapis.com/auth/drive.appdata: See, create, and delete its own configuration data in your Google Drive
            https://www.googleapis.com/auth/drive.apps.readonly: View your Google Drive apps
            https://www.googleapis.com/auth/drive.file: See, edit, create, and delete only the specific Google Drive files you use with this app
            https://www.googleapis.com/auth/drive.metadata: View and manage metadata of files in your Google Drive
            https://www.googleapis.com/auth/drive.metadata.readonly: See information about your Google Drive files
            https://www.googleapis.com/auth/drive.photos.readonly: View the photos, videos and albums in your Google Photos
            https://www.googleapis.com/auth/drive.readonly: See and download all your Google Drive files
            https://www.googleapis.com/auth/drive.scripts: Modify your Google Apps Script scripts' behavior
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
externalDocs:
  url: https://developers.google.com/drive/
x-refined-from:
- google-calendar-api-openapi.yml
- google-drive-api-openapi.yml
