openapi: 3.1.0
info:
  title: Google Books About Threads API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Threads
  description: Operations related to Threads
paths:
  /gmail/v1/users/{userId}/threads/{id}:
    get:
      tags:
      - Threads
      summary: Google Get Threads
      description: Gets the specified thread.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersThreadsGetResponse'
              examples:
                GmailUsersThreadsGetResponseExample:
                  $ref: '#/components/examples/GmailUsersThreadsGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: GmailUsersThreadsGetResponseExample
    delete:
      tags:
      - Threads
      summary: Google Delete Threads
      description: Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead.
      parameters:
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /gmail/v1/users/{userId}/threads/{id}/modify:
    post:
      tags:
      - Threads
      summary: Google Modify Threads
      description: Modifies the labels applied to the thread. This applies to all messages in the thread.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersThreadsModifyPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersThreadsModifyPostResponse'
              examples:
                UsersThreadsModifyPostResponseExample:
                  $ref: '#/components/examples/UsersThreadsModifyPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersThreadsModifyPostResponseExample
  /gmail/v1/users/{userId}/threads/{id}/trash:
    post:
      tags:
      - Threads
      summary: Google Trash Threads
      description: Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersThreadsTrashPostResponse'
              examples:
                UsersThreadsTrashPostResponseExample:
                  $ref: '#/components/examples/UsersThreadsTrashPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersThreadsTrashPostResponseExample
  /gmail/v1/users/{userId}/threads:
    get:
      tags:
      - Threads
      summary: Google List Threads
      description: Lists the threads in the user's mailbox.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{userID}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersThreadsGetResponse1'
              examples:
                GmailUsersThreadsGetResponse1Example:
                  $ref: '#/components/examples/GmailUsersThreadsGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: GmailUsersThreadsGetResponse1Example
components:
  schemas:
    GmailUsersThreadsGetResponse1:
      description: GmailUsersThreadsGetResponse1 schema
      type: object
      properties:
        threads:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              snippet:
                type: string
              historyId:
                type: string
              messages:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    threadId:
                      type: string
                    labelIds:
                      type: array
                      items:
                        type: string
                    snippet:
                      type: string
                    historyId:
                      type: string
                    internalDate:
                      type: string
                    payload:
                      type: object
                      properties:
                        partId:
                          type: string
                        mimeType:
                          type: string
                        filename:
                          type: string
                        headers:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              value:
                                type: string
                        body:
                          type: object
                          properties:
                            attachmentId:
                              type: string
                            size:
                              type: integer
                            data:
                              type: string
                        parts:
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                    sizeEstimate:
                      type: integer
                    raw:
                      type: string
        nextPageToken:
          type: string
        resultSizeEstimate:
          type: integer
    UsersThreadsTrashPostResponse:
      description: UsersThreadsTrashPostResponse schema
      type: object
      properties:
        id:
          type: string
        snippet:
          type: string
        historyId:
          type: string
        messages:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              threadId:
                type: string
              labelIds:
                type: array
                items:
                  type: string
              snippet:
                type: string
              historyId:
                type: string
              internalDate:
                type: string
              payload:
                type: object
                properties:
                  partId:
                    type: string
                  mimeType:
                    type: string
                  filename:
                    type: string
                  headers:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                  body:
                    type: object
                    properties:
                      attachmentId:
                        type: string
                      size:
                        type: integer
                      data:
                        type: string
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
              sizeEstimate:
                type: integer
              raw:
                type: string
    UsersThreadsModifyPostResponse:
      description: UsersThreadsModifyPostResponse schema
      type: object
      properties:
        id:
          type: string
        snippet:
          type: string
        historyId:
          type: string
        messages:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              threadId:
                type: string
              labelIds:
                type: array
                items:
                  type: string
              snippet:
                type: string
              historyId:
                type: string
              internalDate:
                type: string
              payload:
                type: object
                properties:
                  partId:
                    type: string
                  mimeType:
                    type: string
                  filename:
                    type: string
                  headers:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                  body:
                    type: object
                    properties:
                      attachmentId:
                        type: string
                      size:
                        type: integer
                      data:
                        type: string
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
              sizeEstimate:
                type: integer
              raw:
                type: string
    UsersThreadsModifyPostRequest:
      description: UsersThreadsModifyPostRequest schema
      type: object
      example:
        addLabelIds:
        - labore anim culpa aliqua
        - Duis sed irure Ut aliqua
        removeLabelIds:
        - consectetur et dolore Lorem
        - reprehenderit tempor id dolore incididunt
    GmailUsersThreadsGetResponse:
      description: GmailUsersThreadsGetResponse schema
      type: object
      properties:
        id:
          type: string
        snippet:
          type: string
        historyId:
          type: string
        messages:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              threadId:
                type: string
              labelIds:
                type: array
                items:
                  type: string
              snippet:
                type: string
              historyId:
                type: string
              internalDate:
                type: string
              payload:
                type: object
                properties:
                  partId:
                    type: string
                  mimeType:
                    type: string
                  filename:
                    type: string
                  headers:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                  body:
                    type: object
                    properties:
                      attachmentId:
                        type: string
                      size:
                        type: integer
                      data:
                        type: string
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
              sizeEstimate:
                type: integer
              raw:
                type: string
  examples:
    GmailUsersThreadsGetResponse1Example:
      summary: Successful 200 response
      value:
        threads:
        - id: commodo
          snippet: eiusmod consequat qui non quis
          historyId: sunt dolore
          messages:
          - id: enim
            threadId: dolore quis exercitation
            labelIds:
            - Duis sint dolore
            - in labore ut commodo
            snippet: nostrud dolore consectetur Excepteur
            historyId: ea elit consectet
            internalDate: proident ullamco
            payload:
              partId: consectetur pariatur dolore
              mimeType: ad occaecat culpa ullamco
              filename: officia elit
              headers:
              - name: co
                value: deserunt ut
              - name: do
                value: ea dolor
              body:
                attachmentId: quis elit commodo
                size: 44099715
                data: irure dolore ut
              parts:
              - value: '<Circular reference to #/components/schemas/MessagePart detected>'
              - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            sizeEstimate: 21887814
            raw: nulla ipsum Ut
          - id: in dolor proident
            threadId: dolore culpa fugiat
            labelIds:
            - in ut amet
            - Ut sit dolor ut
            snippet: nisi Duis deserunt labore
            historyId: sunt pariatur elit laboris ex
            internalDate: esse pariatur
            payload:
              partId: laboris nulla et
              mimeType: dolore ullamco consectetur nostrud
              filename: aliqua commodo
              headers:
              - name: Ut
                value: laborum
              - name: consequat
                value: esse
              body:
                attachmentId: qui consequat minim
                size: 83387838
                data: id
              parts:
              - value: '<Circular reference to #/components/schemas/MessagePart detected>'
              - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            sizeEstimate: 70145632
            raw: cillum in ipsum ex
        - id: qui ipsum veniam irure fugiat
          snippet: elit occaecat magna
          historyId: mollit
          messages:
          - id: laborum et
            threadId: elit sint quis
            labelIds:
            - sunt amet aute dolore fugiat
            - Ut aliqua
            snippet: do magna
            historyId: aliqua enim labore
            internalDate: laboris tempor anim voluptate
            payload:
              partId: aute Ut nisi eiusmod
              mimeType: non deserunt anim
              filename: magna
              headers:
              - name: est sunt fugiat
                value: deserunt exer
              - name: consectetur anim
                value: laborum elit
              body:
                attachmentId: dolor id esse proident
                size: -31164209
                data: irure consectetur
              parts:
              - value: '<Circular reference to #/components/schemas/MessagePart detected>'
              - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            sizeEstimate: -76389446
            raw: nulla dolor nisi reprehenderit sint
          - id: ea laborum sint
            threadId: laboris magna
            labelIds:
            - 'velit '
            - ad sint sunt ex n
            snippet: ea in magna ve
            historyId: sit tempor
            internalDate: qui laborum
            payload:
              partId: aute dolore deserunt do veniam
              mimeType: voluptate ut ad irure est
              filename: nostrud Lorem aliquip elit anim
              headers:
              - name: voluptate sed
                value: in ullamco consequat
              - name: ullamco
                value: ex
              body:
                attachmentId: elit eiusmod sint
                size: 93740460
                data: in non nulla anim
              parts:
              - value: '<Circular reference to #/components/schemas/MessagePart detected>'
              - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            sizeEstimate: 76344706
            raw: nisi nostrud
        nextPageToken: Exce
        resultSizeEstimate: -82340850
    GmailUsersThreadsGetResponseExample:
      summary: Successful 200 response
      value:
        id: nostrud deserunt
        snippet: cillum quis
        historyId: id ea ad amet venia
        messages:
        - id: exercitation sint
          threadId: Ut sed occaecat
          labelIds:
          - in commodo
          - sit dolor
          snippet: dolor fugiat Ut
          historyId: Lorem quis ullamco veniam
          internalDate: consectetur elit dolor
          payload:
            partId: mi
            mimeType: elit
            filename: ex
            headers:
            - name: velit do voluptate
              value: in reprehenderit sit pariatur
            - name: enim
              value: vel
            body:
              attachmentId: e
              size: 62147464
              data: aliquip aute in Excepteur
            parts:
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
          sizeEstimate: -33441686
          raw: Ut sit
        - id: magna pariatur
          threadId: et
          labelIds:
          - est dolore
          - Lorem Duis amet dolore
          snippet: dolore est reprehender
          historyId: in ex veniam nulla
          internalDate: ut
          payload:
            partId: do consectetur tempor qui in
            mimeType: Excepteur in
            filename: reprehenderit
            headers:
            - name: nulla sed ut
              value: et occaecat
            - name: mollit elit commodo nostrud pariatur
              value: aliqua
            body:
              attachmentId: sit sunt occaecat
              size: 23654047
              data: dolor ut
            parts:
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
          sizeEstimate: 2028457
          raw: ipsum enim minim
    UsersThreadsModifyPostResponseExample:
      summary: Successful 200 response
      value:
        id: nostrud deserunt
        snippet: cillum quis
        historyId: id ea ad amet venia
        messages:
        - id: exercitation sint
          threadId: Ut sed occaecat
          labelIds:
          - in commodo
          - sit dolor
          snippet: dolor fugiat Ut
          historyId: Lorem quis ullamco veniam
          internalDate: consectetur elit dolor
          payload:
            partId: mi
            mimeType: elit
            filename: ex
            headers:
            - name: velit do voluptate
              value: in reprehenderit sit pariatur
            - name: enim
              value: vel
            body:
              attachmentId: e
              size: 62147464
              data: aliquip aute in Excepteur
            parts:
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
          sizeEstimate: -33441686
          raw: Ut sit
        - id: magna pariatur
          threadId: et
          labelIds:
          - est dolore
          - Lorem Duis amet dolore
          snippet: dolore est reprehender
          historyId: in ex veniam nulla
          internalDate: ut
          payload:
            partId: do consectetur tempor qui in
            mimeType: Excepteur in
            filename: reprehenderit
            headers:
            - name: nulla sed ut
              value: et occaecat
            - name: mollit elit commodo nostrud pariatur
              value: aliqua
            body:
              attachmentId: sit sunt occaecat
              size: 23654047
              data: dolor ut
            parts:
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
          sizeEstimate: 2028457
          raw: ipsum enim minim
    UsersThreadsTrashPostResponseExample:
      summary: Successful 200 response
      value:
        id: nostrud deserunt
        snippet: cillum quis
        historyId: id ea ad amet venia
        messages:
        - id: exercitation sint
          threadId: Ut sed occaecat
          labelIds:
          - in commodo
          - sit dolor
          snippet: dolor fugiat Ut
          historyId: Lorem quis ullamco veniam
          internalDate: consectetur elit dolor
          payload:
            partId: mi
            mimeType: elit
            filename: ex
            headers:
            - name: velit do voluptate
              value: in reprehenderit sit pariatur
            - name: enim
              value: vel
            body:
              attachmentId: e
              size: 62147464
              data: aliquip aute in Excepteur
            parts:
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
          sizeEstimate: -33441686
          raw: Ut sit
        - id: magna pariatur
          threadId: et
          labelIds:
          - est dolore
          - Lorem Duis amet dolore
          snippet: dolore est reprehender
          historyId: in ex veniam nulla
          internalDate: ut
          payload:
            partId: do consectetur tempor qui in
            mimeType: Excepteur in
            filename: reprehenderit
            headers:
            - name: nulla sed ut
              value: et occaecat
            - name: mollit elit commodo nostrud pariatur
              value: aliqua
            body:
              attachmentId: sit sunt occaecat
              size: 23654047
              data: dolor ut
            parts:
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
            - value: '<Circular reference to #/components/schemas/MessagePart detected>'
          sizeEstimate: 2028457
          raw: ipsum enim minim
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
