openapi: 3.2.0
info:
  title: Google Calendar Free Busy API
  description: The Google Calendar API allows developers to integrate their applications with Google Calendar, enabling them to create, modify, and manage events and settings programmatically. This API is robust, offering functionalities like managing calendar lists, events, access permissions, and user settings.
  version: 1.0.0
servers:
- url: https://www.googleapis.com/calendar/v3
  description: Google Calendar API Server
tags:
- name: Free Busy
paths:
  /freeBusy:
    post:
      tags:
      - Free Busy
      summary: Google Query Free Busy
      description: Returns free/busy information for a set of calendars.
      operationId: googleQueryfreebusy
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeBusyPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeBusyPostResponse'
              examples:
                FreeBusyPostResponseExample:
                  $ref: '#/components/examples/FreeBusyPostResponseExample'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: FreeBusyPostResponseExample
components:
  schemas:
    FreeBusyPostResponseCalendarsEa8A:
      description: FreeBusyPostResponseCalendarsEa8A schema
      type: object
      properties:
        busy:
          type: array
          items:
            type: object
            properties:
              end:
                type: string
                format: date-time
              start:
                type: string
                format: date-time
        errors:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
              reason:
                type: string
    FreeBusyPostResponseGroups:
      description: FreeBusyPostResponseGroups schema
      type: object
      properties:
        amet_0:
          $ref: '#/components/schemas/FreeBusyPostResponseGroupsAmet0'
        occaecat_3:
          $ref: '#/components/schemas/FreeBusyPostResponseGroupsOccaecat3'
    FreeBusyPostRequest:
      description: FreeBusyPostRequest schema
      type: object
      example:
        calendarExpansionMax: -12276786
        groupExpansionMax: 73067826
        items:
        - id: aliqua in
        - id: pariatur do et
        timeMax: '1974-03-05T08:59:00.048Z'
        timeMin: '1992-03-30T15:21:47.410Z'
        timeZone: UTC
    FreeBusyPostResponseCalendarsTempor:
      description: FreeBusyPostResponseCalendarsTempor schema
      type: object
      properties:
        busy:
          type: array
          items:
            type: object
            properties:
              end:
                type: string
                format: date-time
              start:
                type: string
                format: date-time
        errors:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
              reason:
                type: string
    FreeBusyPostResponseGroupsAmet0:
      description: FreeBusyPostResponseGroupsAmet0 schema
      type: object
      properties:
        calendars:
          type: array
          items:
            type: string
        errors:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
              reason:
                type: string
    FreeBusyPostResponseCalendars:
      description: FreeBusyPostResponseCalendars schema
      type: object
      properties:
        ea8_a:
          $ref: '#/components/schemas/FreeBusyPostResponseCalendarsEa8A'
        tempor__:
          $ref: '#/components/schemas/FreeBusyPostResponseCalendarsTempor'
    FreeBusyPostResponse:
      description: FreeBusyPostResponse schema
      type: object
      properties:
        calendars:
          $ref: '#/components/schemas/FreeBusyPostResponseCalendars'
        groups:
          $ref: '#/components/schemas/FreeBusyPostResponseGroups'
        kind:
          type: string
        timeMax:
          type: string
          format: date-time
        timeMin:
          type: string
          format: date-time
    FreeBusyPostResponseGroupsOccaecat3:
      description: FreeBusyPostResponseGroupsOccaecat3 schema
      type: object
      properties:
        calendars:
          type: array
          items:
            type: string
        errors:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
              reason:
                type: string
  examples:
    FreeBusyPostResponseExample:
      summary: Successful 200 response
      value:
        calendars:
          ea8_a:
            busy:
            - end: '2015-07-24T01:15:56.179Z'
              start: '1981-06-16T20:23:49.974Z'
            - end: '1957-12-14T21:19:55.990Z'
              start: '2012-06-19T05:53:57.552Z'
            errors:
            - domain: l
              reason: qui minim in
            - domain: ea proident non ad aliquip
              reason: non mollit ad dolore
          tempor__:
            busy:
            - end: '2012-06-15T15:09:24.939Z'
              start: '2008-07-23T06:48:49.875Z'
            - end: '2001-10-07T01:39:27.884Z'
              start: '1962-01-18T06:39:30.566Z'
            errors:
            - domain: nostrud ad enim
              reason: cupidatat Lorem velit et quis
            - domain: consectetur repr
              reason: Ut
        groups:
          amet_0:
            calendars:
            - veniam ad est tempor
            - eu qui proident
            errors:
            - domain: do
              reason: exercitation
            - domain: exer
              reason: dolor
          occaecat_3:
            calendars:
            - ipsum nulla
            - ad nisi dolor
            errors:
            - domain: ad dolor tempor sunt reprehenderit
              reason: in tempor deserunt
            - domain: consectetur eu ea
              reason: est exercitation
        kind: calendar#freeBusy
        timeMax: '2011-01-28T06:05:22.021Z'
        timeMin: '1978-06-06T06:26:44.109Z'
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
