openapi: 3.2.0
info:
  title: Google Gmail Settings API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Settings
  description: Operations related to Settings
paths:
  /gmail/v1/users/{userId}/settings/vacation:
    put:
      tags:
      - Settings
      summary: Google Update Vacation Settings
      description: Updates vacation responder settings.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsVacationPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsVacationPutResponse'
              examples:
                UsersSettingsVacationPutResponseExample:
                  $ref: '#/components/examples/UsersSettingsVacationPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsVacationPutResponseExample
components:
  schemas:
    UsersSettingsVacationPutResponse:
      description: UsersSettingsVacationPutResponse schema
      type: object
      properties:
        enableAutoReply:
          type: boolean
        responseSubject:
          type: string
        responseBodyPlainText:
          type: string
        responseBodyHtml:
          type: string
        restrictToContacts:
          type: boolean
        restrictToDomain:
          type: boolean
        startTime:
          type: string
        endTime:
          type: string
    UsersSettingsVacationPutRequest:
      description: UsersSettingsVacationPutRequest schema
      type: object
      example:
        enableAutoReply: false
        responseSubject: ei
        responseBodyPlainText: veniam reprehe
        responseBodyHtml: id
        restrictToContacts: false
        restrictToDomain: true
        startTime: est mollit
        endTime: enim in aliqua Ut commodo
  examples:
    UsersSettingsVacationPutResponseExample:
      summary: Successful 200 response
      value:
        enableAutoReply: false
        responseSubject: ei
        responseBodyPlainText: veniam reprehe
        responseBodyHtml: id
        restrictToContacts: false
        restrictToDomain: true
        startTime: est mollit
        endTime: enim in aliqua Ut commodo
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
