openapi: 3.1.0
info:
  title: Google Books About Delegates API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Delegates
  description: Operations related to Delegates
paths:
  /gmail/v1/users/{userId}/settings/delegates/{delegateEmail}:
    get:
      tags:
      - Delegates
      summary: Google Get Delegates
      description: Gets the specified delegate. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: delegateEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsDelegatesGetResponse'
              examples:
                UsersSettingsDelegatesGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsDelegatesGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsDelegatesGetResponseExample
    delete:
      tags:
      - Delegates
      summary: Google Delete Delegates
      description: Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: delegateEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
  /gmail/v1/users/{userId}/settings/delegates:
    get:
      tags:
      - Delegates
      summary: Google List Delegates
      description: Lists the delegates for the specified account. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsDelegatesGetResponse1'
              examples:
                UsersSettingsDelegatesGetResponse1Example:
                  $ref: '#/components/examples/UsersSettingsDelegatesGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsDelegatesGetResponse1Example
    post:
      tags:
      - Delegates
      summary: Google Create Delegates
      description: Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. Note that a delegate user must be referred to by their primary email address, and not an email alias. Also note that when a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsDelegatesPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsDelegatesPostResponse'
              examples:
                UsersSettingsDelegatesPostResponseExample:
                  $ref: '#/components/examples/UsersSettingsDelegatesPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: UsersSettingsDelegatesPostResponseExample
components:
  schemas:
    UsersSettingsDelegatesPostRequest:
      description: UsersSettingsDelegatesPostRequest schema
      type: object
      example:
        delegateEmail: Duis commodo enim irure
        verificationStatus: rejected
    UsersSettingsDelegatesGetResponse:
      description: UsersSettingsDelegatesGetResponse schema
      type: object
      properties:
        delegateEmail:
          type: string
        verificationStatus:
          type: string
    UsersSettingsDelegatesGetResponse1:
      description: UsersSettingsDelegatesGetResponse1 schema
      type: object
      properties:
        delegates:
          type: array
          items:
            type: object
            properties:
              delegateEmail:
                type: string
              verificationStatus:
                type: string
    UsersSettingsDelegatesPostResponse:
      description: UsersSettingsDelegatesPostResponse schema
      type: object
      properties:
        delegateEmail:
          type: string
        verificationStatus:
          type: string
  examples:
    UsersSettingsDelegatesGetResponseExample:
      summary: Successful 200 response
      value:
        delegateEmail: Duis commodo enim irure
        verificationStatus: rejected
    UsersSettingsDelegatesGetResponse1Example:
      summary: Successful 200 response
      value:
        delegates:
        - delegateEmail: 'veniam voluptate '
          verificationStatus: accepted
        - delegateEmail: qui ipsum
          verificationStatus: expired
    UsersSettingsDelegatesPostResponseExample:
      summary: Successful 200 response
      value:
        delegateEmail: Duis commodo enim irure
        verificationStatus: rejected
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
