openapi: 3.2.0
info:
  title: Google Sheets Append API
  description: The Google Sheets API is a RESTful interface that lets you read and modify a spreadsheet's data..
  version: 1.0.0
servers:
- url: https://sheets.googleapis.com
  description: Google Sheets API Server
security:
- oauth2Auth: []
tags:
- name: Append
  description: Operations related to Append
paths:
  /v4/spreadsheets/{spreadsheetId}/values/{range}:append:
    post:
      tags:
      - Append
      summary: Google Append Values
      description: Appends values to a spreadsheet. The input range is used to search for existing data and find a "table" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](/sheets/api/guides/values#appending_values) and [sample code](/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      - name: range
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesPostResponse'
              examples:
                SpreadsheetsValuesPostResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesPostResponseExample
components:
  schemas:
    SpreadsheetsValuesPostResponse:
      description: SpreadsheetsValuesPostResponse schema
      type: object
    SpreadsheetsValuesPostRequest:
      description: SpreadsheetsValuesPostRequest schema
      type: object
      example: null
  examples:
    SpreadsheetsValuesPostResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
