openapi: 3.1.0
info:
  title: Google Books About Channels API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Channels
paths:
  /channels/stop:
    post:
      tags:
      - Channels
      summary: Google Stop Calendar Channel
      description: Stop watching resources through this channel
      operationId: googleStopcalendarchannel
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelsStopPostRequest'
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SuccessExample
components:
  schemas:
    ChannelsStopPostRequest:
      description: ChannelsStopPostRequest schema
      type: object
      example:
        address: incididunt sed consequat
        expiration: velit ad aliq
        id: velit eiusmod
        kind: api#channel
        params:
          reprehenderit5c: non
          sint_b: cupidatat do
        payload: false
        resourceId: aute
        resourceUri: fugiat consequat
        token: ullamco officia in
        type: ex eiusmod adipisicing mollit
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
