openapi: 3.2.0
info:
  title: Google Gmail Info API
  description: The Gmail API is a RESTful API that can be used to access Gmail mailboxes and send mail. For most web applications the Gmail API is the best choice for authorized access to a user's Gmail data and is suitable for various applications.
  version: 1.0.0
servers:
- url: https://gmail.googleapis.com
  description: Google Gmail API Server
security:
- oauth2Auth: []
tags:
- name: Info
  description: Operations related to Info
paths:
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo:
    get:
      tags:
      - Info
      summary: Google List SMIME Info
      description: Lists S/MIME configs for the specified send-as alias.
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: sendAsEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSendAsSmimeInfoGetResponse1'
              examples:
                SettingsSendAsSmimeInfoGetResponse1Example:
                  $ref: '#/components/examples/SettingsSendAsSmimeInfoGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SettingsSendAsSmimeInfoGetResponse1Example
    post:
      tags:
      - Info
      summary: Google Insert SMIME Info
      description: Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key.
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: userId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      - name: sendAsEmail
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsSendAsSmimeInfoPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSendAsSmimeInfoPostResponse'
              examples:
                SettingsSendAsSmimeInfoPostResponseExample:
                  $ref: '#/components/examples/SettingsSendAsSmimeInfoPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SettingsSendAsSmimeInfoPostResponseExample
components:
  schemas:
    SettingsSendAsSmimeInfoPostRequest:
      description: SettingsSendAsSmimeInfoPostRequest schema
      type: object
      example:
        id: id
        issuerCn: ipsum qui s
        isDefault: false
        expiration: dolore magna
        pem: 'cillum labore '
        pkcs12: in aute et
        encryptedKeyPassword: cillum ut
    SettingsSendAsSmimeInfoPostResponse:
      description: SettingsSendAsSmimeInfoPostResponse schema
      type: object
      properties:
        id:
          type: string
        issuerCn:
          type: string
        isDefault:
          type: boolean
        expiration:
          type: string
        pem:
          type: string
        pkcs12:
          type: string
        encryptedKeyPassword:
          type: string
    SettingsSendAsSmimeInfoGetResponse1:
      description: SettingsSendAsSmimeInfoGetResponse1 schema
      type: object
      properties:
        smimeInfo:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              issuerCn:
                type: string
              isDefault:
                type: boolean
              expiration:
                type: string
              pem:
                type: string
              pkcs12:
                type: string
              encryptedKeyPassword:
                type: string
  examples:
    SettingsSendAsSmimeInfoGetResponse1Example:
      summary: Successful 200 response
      value:
        smimeInfo:
        - id: Lorem culpa eiusmod
          issuerCn: dolore eiusmod laborum
          isDefault: false
          expiration: eiusmod incidid
          pem: minim voluptate non
          pkcs12: et Duis
          encryptedKeyPassword: tempor proiden
        - id: dolore
          issuerCn: aliqua velit qui
          isDefault: false
          expiration: occaeca
          pem: eu minim consequat sunt
          pkcs12: sunt anim ipsum nulla
          encryptedKeyPassword: laboris ex sint
    SettingsSendAsSmimeInfoPostResponseExample:
      summary: Successful 200 response
      value:
        id: id
        issuerCn: ipsum qui s
        isDefault: false
        expiration: dolore magna
        pem: 'cillum labore '
        pkcs12: in aute et
        encryptedKeyPassword: cillum ut
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
