openapi: 3.2.0
info:
  title: Google Books About Values API
  description: API for retrieving Bookshelf and Volume resources from Google Books
  version: 1.0.0
  contact:
    name: Google Books API
    url: https://developers.google.com/books
servers:
- url: https://www.googleapis.com/books/v1
  description: Google Books API v1
tags:
- name: Values
  description: Operations related to Values
paths:
  /v4/spreadsheets/{spreadsheetId}/values/{range}:
    get:
      tags:
      - Values
      summary: Google Get Values
      description: Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.
      security:
      - oauth2Auth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: majorDimension
        in: query
        schema:
          type: string
        example: '{{majorDimension}}'
      - name: valueRenderOption
        in: query
        schema:
          type: string
        example: '{{valueRenderOption}}'
      - name: dateTimeRenderOption
        in: query
        schema:
          type: string
        example: '{{dateTimeRenderOption}}'
      - name: access_token
        in: query
        schema:
          type: string
        description: OAuth access token.
        example: '{{accessToken}}'
      - name: alt
        in: query
        schema:
          type: string
        description: Data format for response.
        example: '{{alt}}'
      - name: callback
        in: query
        schema:
          type: string
        description: JSONP
        example: '{{callback}}'
      - name: fields
        in: query
        schema:
          type: string
        description: Selector specifying which fields to include in a partial response.
        example: '{{fields}}'
      - name: key
        in: query
        schema:
          type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        example: '{{key}}'
      - name: oauth_token
        in: query
        schema:
          type: string
        description: OAuth 2.0 token for the current user.
        example: '{{oauthToken}}'
      - name: prettyPrint
        in: query
        schema:
          type: string
        description: Returns response with indentations and line breaks.
        example: '{{prettyPrint}}'
      - name: quotaUser
        in: query
        schema:
          type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        example: '{{quotaUser}}'
      - name: upload_protocol
        in: query
        schema:
          type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
        example: '{{uploadProtocol}}'
      - name: uploadType
        in: query
        schema:
          type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        example: '{{uploadType}}'
      - name: $.xgafv
        in: query
        schema:
          type: string
        description: V1 error format.
        example: '{{.Xgafv}}'
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      - name: range
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{range}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesGetResponse'
              examples:
                SpreadsheetsValuesGetResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesGetResponseExample
    put:
      tags:
      - Values
      summary: Google Update Values
      description: Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      - name: range
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{range}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesPutResponse'
              examples:
                SpreadsheetsValuesPutResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesPutResponseExample
  /v4/spreadsheets/{spreadsheetId}/values/{range}:append:
    post:
      tags:
      - Values
      summary: Google Append Values
      description: Appends values to a spreadsheet. The input range is used to search for existing data and find a "table" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](/sheets/api/guides/values#appending_values) and [sample code](/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      - name: range
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesPostResponse'
              examples:
                SpreadsheetsValuesPostResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesPostResponseExample
  /v4/spreadsheets/{spreadsheetId}/values/{range}:clear:
    post:
      tags:
      - Values
      summary: Google Clear Values
      description: Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      - name: range
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesPostRequest1'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesPostResponse1'
              examples:
                SpreadsheetsValuesPostResponse1Example:
                  $ref: '#/components/examples/SpreadsheetsValuesPostResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesPostResponse1Example
  /v4/spreadsheets/{spreadsheetId}/values:batchClear:
    post:
      tags:
      - Values
      summary: Google Batch Clear Values
      description: Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesbatchClearPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesbatchClearPostResponse'
              examples:
                SpreadsheetsValuesbatchClearPostResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesbatchClearPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesbatchClearPostResponseExample
  /v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter:
    post:
      tags:
      - Values
      summary: Google Batch Clear Values by Data Filter
      description: Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesbatchClearByDataFilterPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesbatchClearByDataFilterPostResponse'
              examples:
                SpreadsheetsValuesbatchClearByDataFilterPostResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesbatchClearByDataFilterPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesbatchClearByDataFilterPostResponseExample
  /v4/spreadsheets/{spreadsheetId}/values:batchGet:
    get:
      tags:
      - Values
      summary: Google Get Values Batch
      description: Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.
      security:
      - oauth2Auth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesbatchGetGetResponse'
              examples:
                SpreadsheetsValuesbatchGetGetResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesbatchGetGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesbatchGetGetResponseExample
  /v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter:
    post:
      tags:
      - Values
      summary: Google Get Values By Data Filter
      description: Returns one or more ranges of values that match the specified data filters. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesbatchGetByDataFilterPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesbatchGetByDataFilterPostResponse'
              examples:
                SpreadsheetsValuesbatchGetByDataFilterPostResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesbatchGetByDataFilterPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesbatchGetByDataFilterPostResponseExample
  /v4/spreadsheets/{spreadsheetId}/values:batchUpdate:
    post:
      tags:
      - Values
      summary: Google Batch Update Values
      description: Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.
      security:
      - oauth2Auth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: spreadsheetId
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: '{{spreadsheetId}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetsValuesbatchUpdatePostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpreadsheetsValuesbatchUpdatePostResponse'
              examples:
                SpreadsheetsValuesbatchUpdatePostResponseExample:
                  $ref: '#/components/examples/SpreadsheetsValuesbatchUpdatePostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: SpreadsheetsValuesbatchUpdatePostResponseExample
components:
  schemas:
    SpreadsheetsValuesPostRequest:
      description: SpreadsheetsValuesPostRequest schema
      type: object
      example: null
    SpreadsheetsValuesPutResponse:
      description: SpreadsheetsValuesPutResponse schema
      type: object
    SpreadsheetsValuesbatchClearPostResponse:
      description: SpreadsheetsValuesbatchClearPostResponse schema
      type: object
      properties:
        clearedRanges:
          type: array
          items:
            type: string
        spreadsheetId:
          type: string
    SpreadsheetsValuesPostResponse1:
      description: SpreadsheetsValuesPostResponse1 schema
      type: object
      properties:
        clearedRange:
          type: string
        spreadsheetId:
          type: string
    SpreadsheetsValuesbatchUpdatePostRequest:
      description: SpreadsheetsValuesbatchUpdatePostRequest schema
      type: object
      example: null
    SpreadsheetsValuesbatchClearByDataFilterPostResponse:
      description: SpreadsheetsValuesbatchClearByDataFilterPostResponse schema
      type: object
      properties:
        clearedRanges:
          type: array
          items:
            type: string
        spreadsheetId:
          type: string
    SpreadsheetsValuesbatchGetByDataFilterPostRequest:
      description: SpreadsheetsValuesbatchGetByDataFilterPostRequest schema
      type: object
      example:
        dataFilters:
        - a1Range: eiusmod anim enim culpa
          developerMetadataLookup:
            locationMatchingStrategy: INTERSECTING_LOCATION
            locationType: SPREADSHEET
            metadataId: -64798951
            metadataKey: sint minim commodo
            metadataLocation:
              dimensionRange:
                dimension: ROWS
                endIndex: 34518543
                sheetId: 68337575
                startIndex: 91706381
              locationType: ROW
              sheetId: -33783740
              spreadsheet: true
            metadataValue: sunt
            visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
          gridRange:
            endColumnIndex: -96821047
            endRowIndex: -9277805
            sheetId: 7522437
            startColumnIndex: 85603635
            startRowIndex: -31384652
        - a1Range: sunt irure dolor
          developerMetadataLookup:
            locationMatchingStrategy: DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED
            locationType: SHEET
            metadataId: 26360577
            metadataKey: in minim nulla aliquip laboris
            metadataLocation:
              dimensionRange:
                dimension: COLUMNS
                endIndex: -14426665
                sheetId: 88787400
                startIndex: -98846780
              locationType: COLUMN
              sheetId: -14062757
              spreadsheet: true
            metadataValue: proident au
            visibility: DOCUMENT
          gridRange:
            endColumnIndex: -11696202
            endRowIndex: -87528654
            sheetId: 32991035
            startColumnIndex: -95148112
            startRowIndex: -72465558
        dateTimeRenderOption: FORMATTED_STRING
        majorDimension: DIMENSION_UNSPECIFIED
        valueRenderOption: FORMULA
    SpreadsheetsValuesbatchClearByDataFilterPostRequest:
      description: SpreadsheetsValuesbatchClearByDataFilterPostRequest schema
      type: object
      example:
        dataFilters:
        - a1Range: commodo ea in ut
          developerMetadataLookup:
            locationMatchingStrategy: INTERSECTING_LOCATION
            locationType: SHEET
            metadataId: -27000770
            metadataKey: ip
            metadataLocation:
              dimensionRange:
                dimension: DIMENSION_UNSPECIFIED
                endIndex: 91540263
                sheetId: -64167623
                startIndex: 63800966
              locationType: DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
              sheetId: 46858270
              spreadsheet: false
            metadataValue: Excepteur
            visibility: DOCUMENT
          gridRange:
            endColumnIndex: 6998754
            endRowIndex: 43176042
            sheetId: -9008085
            startColumnIndex: -17508638
            startRowIndex: 21352870
        - a1Range: esse eiusmod
          developerMetadataLookup:
            locationMatchingStrategy: EXACT_LOCATION
            locationType: SHEET
            metadataId: -9620585
            metadataKey: in
            metadataLocation:
              dimensionRange:
                dimension: COLUMNS
                endIndex: -85774445
                sheetId: 81988143
                startIndex: -35232572
              locationType: SPREADSHEET
              sheetId: -39029265
              spreadsheet: false
            metadataValue: voluptate adipisicing amet dolor
            visibility: PROJECT
          gridRange:
            endColumnIndex: -87815739
            endRowIndex: -52115573
            sheetId: 67629865
            startColumnIndex: 66943098
            startRowIndex: 74725547
    SpreadsheetsValuesbatchClearPostRequest:
      description: SpreadsheetsValuesbatchClearPostRequest schema
      type: object
      example:
        ranges:
        - nostrud sunt reprehenderit proident cillum
        - laborum eiusmod dolor ali
    SpreadsheetsValuesbatchGetByDataFilterPostResponse:
      description: SpreadsheetsValuesbatchGetByDataFilterPostResponse schema
      type: object
    SpreadsheetsValuesbatchUpdatePostResponse:
      description: SpreadsheetsValuesbatchUpdatePostResponse schema
      type: object
    SpreadsheetsValuesGetResponse:
      description: SpreadsheetsValuesGetResponse schema
      type: object
    SpreadsheetsValuesPostResponse:
      description: SpreadsheetsValuesPostResponse schema
      type: object
    SpreadsheetsValuesPutRequest:
      description: SpreadsheetsValuesPutRequest schema
      type: object
      example: null
    SpreadsheetsValuesbatchGetGetResponse:
      description: SpreadsheetsValuesbatchGetGetResponse schema
      type: object
    SpreadsheetsValuesPostRequest1:
      description: SpreadsheetsValuesPostRequest1 schema
      type: object
      example: {}
  examples:
    SpreadsheetsValuesPutResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    SpreadsheetsValuesbatchGetGetResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    SpreadsheetsValuesPostResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    SpreadsheetsValuesPostResponse1Example:
      summary: Successful 200 response
      value:
        clearedRange: mollit sunt reprehenderit
        spreadsheetId: dolor in enim
    SpreadsheetsValuesGetResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    SpreadsheetsValuesbatchGetByDataFilterPostResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    SpreadsheetsValuesbatchUpdatePostResponseExample:
      summary: Successful 200 response
      value:
        id: example-id
        name: Example Name
    SpreadsheetsValuesbatchClearPostResponseExample:
      summary: Successful 200 response
      value:
        clearedRanges:
        - laboris in mollit
        - magna adipisicing
        spreadsheetId: cupidatat eiusmod commodo ad
    SpreadsheetsValuesbatchClearByDataFilterPostResponseExample:
      summary: Successful 200 response
      value:
        clearedRanges:
        - cillum
        - dolo
        spreadsheetId: in consequat
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Books API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/books: Manage your Google Books library
